<mat-tab-group>
  <mat-tab *ngFor="let TiposDatosCE of TipoDatoClienteExtra">
      <ng-template mat-tab-label>
        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                          [svgIcon]="TiposDatosCE.icon"></mat-icon>
      </ng-template>
      <div class="space-y-8">           
        <ng-container
            *ngFor="let email of contactForm.get(TiposDatosCE.i18n)['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
            <div class="flex">
                <ng-container *transloco="let t">
                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                        <mat-label *ngIf="first">{{t(TiposDatosCE.i18n)}}</mat-label>
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                            [svgIcon]="TiposDatosCE.icon"></mat-icon>
                        <input matInput [formControl]="TiposDatosCE.i18n" [placeholder]="t(TiposDatosCE.i18n)" [spellcheck]="false" [value]="email.value.Descrip">
                    </mat-form-field>
                    <mat-form-field
                        class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4">
                        <mat-label *ngIf="first">{{t('Etiqueta')}}</mat-label>
                        <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                        <input matInput [formControl]="email.get('label')"
                            [placeholder]="'Etiqueta'" [value]="email.value.label">
                    </mat-form-field>
                </ng-container>
                <!-- Remove campo -->
                <ng-container *ngIf="!(first && last)">
                    <div class="flex items-center w-10 pl-2" [ngClass]="{'mt-6': first}">
                        <button class="w-8 h-8 min-h-8" mat-icon-button
                            (click)="removeField(i, TiposDatosCE.i18n)" matTooltip="Eliminar">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                            </mat-icon>
                        </button>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
        (click)="addField(TiposDatosCE.i18n)">
        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
        <span class="ml-2 font-medium text-secondary group-hover:underline">
            <ng-container *transloco="let t">{{t('Add')}} {{t(TiposDatosCE.i18n)}}</ng-container>
        </span>
    </div>
  </mat-tab>
</mat-tab-group>
 