<div mat-dialog-title class="flex flex-shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
    Permisos
</div>

<mat-dialog-content>
    <app-select-empresas [data]="DataUsuario" (onSelect)="getEmpresasSelect($event)"></app-select-empresas>

    <app-select-permisos [DataUser]="DataUsuario" (onSelect)="getRolSelect($event)"></app-select-permisos>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="DataUsuario" >Guardar</button>
</mat-dialog-actions>
