<section class="pb-0" id="iq-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class="title-box mb-4 text-center">
                    <h3 class="mb-3">With TuFactura help desks</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
                <a class="button gradient-btn button-icon mb-5" href="#"><span class="btn-effect">Quick start</span></a>
                <img src="./assets/sofbox-v2/images/home-3/307.png" alt="img">
            </div>
            <div class="col-lg-6 text-center">
                <div class="title-box mb-4 text-center">
                    <h3 class="mb-3">Everything in one place</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                </div>
                <a class="button gradient-btn button-icon mb-5" href="#"><span class="btn-effect">Quick start</span></a>
                <img src="./assets/sofbox-v2/images/home-3/308.png" alt="img">
            </div>
        </div>
    </div>
</section>