<mat-drawer-container autosize [hasBackdrop]="true" class="h100 w100">

    <mat-drawer #drawer [mode]="'over'" position="left" class="example-sidenav w50">
        <ng-container *ngIf="showTable2">
            <app-form-control-cobranza></app-form-control-cobranza>
        </ng-container>
    </mat-drawer>

    <mat-drawer-content class="w100 h100">
        <div class="w100 h100" *ngIf="showTable">
            <app-MasterListAdd [Data]="dataTable" [Param]="Parametros" (DataClick)="DataSalida($event)">
            </app-MasterListAdd>
        </div>
    </mat-drawer-content>

</mat-drawer-container>
