<div class="h100 w100 ">

    <mat-drawer-container *ngIf="!invoice" autosize [hasBackdrop]="true" class="h100 w100">
        <mat-drawer #drawer [mode]="'over'" position="left" class="example-sidenav w50">
            <!-- <app-form-generator [data]="setForm" (dataSalida)="DatalidaEdit($event)"></app-form-generator> -->
            <ng-container *ngIf="!invoice">
                <app-form-generator [data]="DataForm" (dataSalida)="SalidaForm($event)"></app-form-generator>
            </ng-container>
        </mat-drawer>


        <mat-drawer-content class="w100 h100">
            <!-- Header -->
            <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                <!-- Loader -->
                <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                    <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                </div>
                <!-- Title -->
                <div class="text-4xl font-extrabold tracking-tight">{{ Title }}</div>
                <!-- Actions -->
                <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <!-- Search -->
                    <ng-container *transloco="let t">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                        <input matInput #filter (keyup)="applyFilter($event)" [formControl]="searchInputControl" [autocomplete]="'off'"
                        [placeholder]="t('Search') + Title">
                    </mat-form-field>
                    </ng-container>
                    <!-- Add product button -->
                    <ng-container *transloco="let t">
                        <button class="ml-4" mat-flat-button [color]="'primary'" (click)="ClickMenu('', 2, 'new')">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">{{t('Add')}}</span>
                        </button>
                    </ng-container>
                </div>
            </div>

            <!-- Main -->
            <div class="content-card h-table">
                <mat-table class="app-admin-list-table" #table [dataSource]="dataSource" matSort fusePerfectScrollbar
                    style="max-height: 88%; height: 85%;">

                    <ng-container *ngFor="let i = index; let column of ldisplayedColumns" matColumnDef="{{ column }}">
                        <mat-header-cell [style]="FlexSize[i]" *matHeaderCellDef class="mat-cell" mat-sort-header>{{ HeadShow[i] }}</mat-header-cell>
                        <!--[fxHide]="ShowResponsive(i,'hidde')"-->
                        <mat-cell [style]="FlexSize[i]"  [ngStyle]="{'background-color': chooseColor(i) }" *matCellDef="let row"> 
                            <span [ngSwitch]="lTypeData[i]">
                                <p *ngSwitchCase="'string'" class="text-truncate">{{ row[column] }} </p>
                                <p *ngSwitchCase="'status'" class="text-truncate">
                                   Activo
                                </p>
                                <p *ngSwitchCase="'phone'" class="text-truncate">{{ row[column] }}</p>
                                <p *ngSwitchCase="'date'">{{ row[column.colum] }}</p>
                                <p *ngSwitchCase="'icon'">
                                    <mat-icon class="mr-4" [ngStyle]="{'color':  row[column].split('/')[1]}">{{
                                        row[column].split('/')[0] }}</mat-icon>
                                </p>
                                <img *ngSwitchCase="'avatar'" class="avatar rounded-full overflow-hidden"
                                    style="max-width: 50px; width: 50px; padding: 3px;" src="{{ row[column] }}" />
                                <img *ngSwitchCase="'img'" src="{{row[column] }}" width="30" />
                                <mat-slide-toggle *ngSwitchCase="'boolean'" [checked]="row[column]"></mat-slide-toggle>
                                <p *ngSwitchCase="'menu'">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_horiz</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="ClickMenu(row, j, item.split('/')[1])"
                                            *ngFor="let item of Menu; let j = index">
                                            <mat-icon>{{ item.split('/')[1] }}</mat-icon>
                                            <span>{{ item.split('/')[0] }}</span>
                                        </button>
                                    </mat-menu> 
                                </p>
                                <p *ngSwitchDefault class="text-truncate">{{ row[column] }}</p>
                            </span>
                        </mat-cell>
                    </ng-container>


                    <button mat-icon-button color="warn">
                        <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                    </button>


                    <mat-header-row *matHeaderRowDef="ldisplayedColumns; sticky:true">

                    </mat-header-row>

                    <mat-row *matRowDef="let data; columns: ldisplayedColumns;" class="product" matRipple>
                    </mat-row>

                </mat-table>

                
                <mat-paginator 
                class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                [ngClass]="{'pointer-events-none': isLoading}"
                appPagination [length]="testPaginator.length"
                [pageSize]="10" (page)="showPageEvent($event)"
                [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>
    <app-invoice-preview (Salida)="SalidaInvoice($event)" [Fact]="factura" *ngIf="invoice"></app-invoice-preview>
</div>