<section id="about-us" class=" overview-block-ptb it-works re4-mt-50">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-section-title
          title="{{Prefijo + 'NuestroSistema' | translate}}"
          subTitle="{{Prefijo + 'Características' | translate}}"
        ></app-section-title>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-3" *ngFor="let card of cardData">
        <div class="iq-works-box round-icon text-center">
          <div class="icon-bg center-block"><i aria-hidden="true" [class]="card.icon"></i></div>
          <h5 class="iq-tw-7 iq-mt-25 iq-mb-15">{{Prefijo + card.title | translate}}</h5>
          <p>{{ Prefijo + card.description  | translate}}</p>
        </div>

      </div>
    </div>
  </div>
</section>
