<app-clientes-extra [idCliente]="6"></app-clientes-extra>
<div class="w100 h100" *ngIf="!showTable">
    CARGANDO...    
</div>
<!--
<div class="w100 h100" *ngIf="showTable">
  <app-MasterListAdd [Data]="dataTable" [Param]="Parametros" (DataClick)="DataSalida($event)"></app-MasterListAdd>
</div>--> 