<section id="our" class="overview-block-ptb grey-bg iq-price-table">
   <br><br>
   <div class="container">
     <div class="row">
       <div class="col-sm-12">
         <div class="heading-title">
           <h3 class="title iq-tw-7">{{Prefijo + 'Tarifas' | translate}}</h3>
           <p>{{Prefijo + 'MejoresPrecios' | translate}}</p>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-4 col-lg-4">
         <div class="iq-pricing pricing-02 text-center">
           <app-pricing-card-style2>
             <div cardHeader>
               <h2 class="iq-font-white iq-tw-7"><small>$</small>19<small>{{Prefijo + 'Mes' | translate}}</small></h2>
               <span class="text-uppercase iq-tw-4 iq-font-white">{{Prefijo + 'Basico' | translate}}</span>
             </div>
             <ul cardList>
               <li><s>{{Prefijo + 'EdicionFacturas' | translate}}</s></li>
               <li>{{Prefijo +  'AtencionCliente' | translate}}</li>
               <li><s>{{Prefijo + 'AlertasEmaill' | translate}}</s></li>
               <li>{{Prefijo + 'Tarifas' | translate}}</li>
               <li><s>{{Prefijo + 'AlmacenFacturas' | translate}}</s></li>
             </ul>
             <div cardFooter>
               <a class="button" href="javascript:void(0)">{{Prefijo + 'Comprar' | translate}}</a>
             </div>
           </app-pricing-card-style2>
         </div>
       </div>
       <div class="col-md-4 col-lg-4 wow flipInY r4-mt-30" data-wow-duration="1s">
         <div class="iq-pricing pricing-02 text-center">
           <app-pricing-card-style2>
           <div cardHeader>
             <h2 class="iq-font-white iq-tw-7"><small>$</small>29<small>{{Prefijo + 'Mes' | translate}}</small></h2>
             <span class="text-uppercase iq-tw-4 iq-font-white">{{Prefijo + 'Estandar' | translate}}</span>
           </div>
           <ul cardList>
            <li>{{Prefijo + 'EdicionFacturas' | translate}}</li>
            <li>{{Prefijo + 'AtencionCliente' | translate}}</li>
            <li>{{Prefijo + 'AlertasEmailll' | translate}}</li>
            <li><s>{{Prefijo + 'Tarifas' | translate}}</s></li>
            <li><s>{{Prefijo + 'AlmacenFacturas' | translate}}</s></li>
          </ul>
           <div cardFooter>
             <a class="button" href="javascript:void(0)">{{Prefijo + 'Comprar' | translate}}</a>
           </div>
         </app-pricing-card-style2>
         </div>
       </div>
       <div class="col-md-4 col-lg-4 r4-mt-30">
         <div class="iq-pricing pricing-02 text-center">
           <app-pricing-card-style2>
           <div cardHeader>
             <h2 class="iq-font-white iq-tw-7"><small>$</small>49<small>{{Prefijo + 'Mes' | translate}}</small></h2>
             <span class="text-uppercase iq-tw-4 iq-font-white">{{Prefijo + 'Avanzado' | translate}}</span>
           </div>
           <ul cardList>
            <li>{{Prefijo + 'EdicionFacturas' | translate}}</li>
            <li>{{Prefijo + 'AtencionCliente' | translate}}</li>
            <li>{{Prefijo + 'AlertasEmailllll' | translate}}</li>
            <li>{{Prefijo + 'Tarifas' | translate}}</li>
            <li><s>{{Prefijo + 'AlmacenFacturas' | translate}}</s></li>
          </ul>
           <div cardFooter>
             <a class="button" href="javascript:void(0)">{{Prefijo + 'Comprar' | translate}}</a>
           </div>
         </app-pricing-card-style2>
         </div>
       </div>
     </div>
   </div>
 </section>