<mat-form-field appearance="fill" class="w100">
    <mat-label>Empresas</mat-label>
    <mat-select multiple [(ngModel)]="selected" (ngModelChange)="selectedEmp()">
        <mat-option *ngFor="let DEmpresa of DataEmpresa" [value]="DEmpresa">{{
            DEmpresa.Nombre
            }}</mat-option>
    </mat-select>
</mat-form-field>

<!-- <p>You selected topping: {{ EmpresaSelect }}</p> -->

<!-- <mat-form-field appearance="fill">
        <mat-label>Empresas</mat-label>
        <mat-select [(value)]="EmpresaSelect">
            <mat-option *ngFor="let DEmpresa of DataEmpresa" [(value)]="EmpresaSelect">
                {{ DEmpresa.Nombre }}
            </mat-option>
        </mat-select>
    </mat-form-field> -->
