<section id="feature" class="overview-block-ptb how-works">
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="heading-title left text-left">
          <h3 class="iq-tw-7 iq-mb-25 title">{{Prefijo + 'QuePuedeHacer' | translate}}</h3>
        </div>
        <div class=" text-discover iq-mb-25">
          <span class="iq-font-blue iq-tw-8">{{Prefijo + 'Estadisticas' | translate}}</span>
          <p class="iq-font-15 iq-mt-10">{{Prefijo + 'GraficasComparativa' | translate}}</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <img class="iq-works-img" src="./assets/images/banner/11.png" alt="drive01">
      </div>
    </div>
  </div>
  
</section>
