<section class="overview-block-ptb white-bg iq-asked-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-section-title
          title="{{Prefijo + 'PreguntasFrecuentes' | translate}}"
          subTitle=""
        ></app-section-title>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="iq-accordion iq-mlr-40">
          <div class="iq-accordion accordion-active">
            <a href="javascript:void(0)" class="accordion-title iq-tw-7 iq-font-grey">{{Prefijo + 'Personalizar' | translate}}</a>
            <div class="accordion-details">
              <div class="row">
                <div class="col-sm-9"> {{Prefijo + 'Logotipo' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="iq-accordion">
            <a href="javascript:void(0)" class="accordion-title iq-tw-7 iq-font-grey"> {{Prefijo + 'OpcionesPago' | translate}}</a>
            <div class="accordion-details">{{Prefijo + 'FacilitarPagos' | translate}}</div>
          </div>
          <div class="iq-accordion">
            <a href="javascript:void(0)" class="accordion-title iq-tw-7 iq-font-grey">{{Prefijo + 'ContratarServicio' | translate}}</a>
            <div class="accordion-details">
              <div class="row">
                <div class="col-sm-9"> {{Prefijo + 'Registrarte' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="iq-accordion">
            <a href="javascript:void(0)" class="accordion-title iq-tw-7 iq-font-grey">{{Prefijo + 'PreguntasFrecuentes' | translate}}</a>
            <div class="accordion-details">{{Prefijo + 'Paquetes' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
