<app-invoice-add-edit *ngIf="edit" (Salida)="salidaEdit($event)" [Fact]="factura"></app-invoice-add-edit>
<div style="display:flex; flex-direction: column; overflow:hidden; " *ngIf="!edit" cdkScrollable>

    <div class="inline-block text-left print:p-0 opcHidden">
        <mat-card>
            <mat-card-actions style="display:flex; flex-direction:row; justify-content: center;">
                <button mat-button color="primary" (click)="SaveInvoice()">Save Invoice</button>
                <button mat-button>Download</button>
                <button mat-button (click)="print()">Print</button>
                <button mat-button (click)="editFactura()">Edit</button>
                <button mat-button (click)="next()">Next</button>
                <button mat-button (click)="previous()">Previous</button>
                <button mat-button color="secondary" style="color:green">Add Payment</button>
                <button mat-button color="secondary" (click)="exit()">Exit</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="inset-00 min-w-0 text-center print" cdkScrollable>


        <!-- Main -->
        <div class="inline-block p-6 sm:p-10 text-left print:p-0">

            <!--! Invoice 1 -->
            <div *ngIf="showInvoice[0]"
                class="w-240 min-w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent">

                <div class="flex items-start">
                    <div class="grid grid-rows-2 place-items-start gap-y-12">
                        <div class="grid auto-cols-max grid-flow-col gap-x-8">
                            <div class="place-self-center w-24">
                                <img class="w-24" src="assets/images/logo/logo32.png">
                            </div>
                            <div class="pl-10 border-l text-md">
                                <div class="font-medium">{{factura.header.empresa.name}}</div>
                                <div>{{factura.header.empresa.address1}}</div>
                                <div>{{factura.header.empresa.address2}}</div>
                                <div>{{factura.header.empresa.phone}}</div>
                                <div>{{factura.header.empresa.email}}</div>
                                <div>{{factura.header.empresa.pag}}</div>
                            </div>
                        </div>
                        <div class="grid auto-cols-max grid-flow-col gap-x-8">
                            <div class="place-self-center w-24 text-center text-2xl text-secondary">
                                Bill To
                            </div>
                            <div class="pl-10 border-l text-md">
                                <div class="font-medium">{{factura.header.bill.name}}</div>
                                <div>{{factura.header.bill.address1}}</div>
                                <div>{{factura.header.bill.phone}}</div>
                                <div>{{factura.header.bill.email}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-x-4 gap-y-1 ml-auto">
                        <div class="justify-self-end text-4xl tracking-tight text-secondary">INVOICE</div>
                        <div class="text-4xl">#{{factura.header.info.fact_number}}</div>
                        <div class="justify-self-end font-medium tracking-tight text-secondary">INVOICE DATE</div>
                        <div class="font-medium">{{factura.header.info.Date}}</div>
                        <div class="justify-self-end font-medium tracking-tight text-secondary">DUE DATE</div>
                        <div class="font-medium">{{factura.header.info.DueDate}}</div>
                        <div class="justify-self-end font-medium tracking-tight text-secondary">TOTAL DUE</div>
                        <div class="font-medium">${{factura.footer.total}}</div>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-x-1 mt-16">
                    <!-- Columns -->
                    <div class="col-span-8 font-medium text-md text-secondary">SERVICE</div>
                    <div class="font-medium text-md text-right text-secondary">RATE</div>
                    <div class="font-medium text-md text-right text-secondary">QTY</div>
                    <div class="col-span-2 font-medium text-md text-right text-secondary">TOTAL</div>

                    <!-- Divider -->
                    <div class="col-span-12 my-4 border-b"></div>

                    <ng-container *ngFor="let item of factura.content.services; let i=index">
                        <!--{{item | json}}-->
                        <div class="col-span-8" style="margin:5px ;">
                            <div class="text-lg font-medium">{{item.service}}</div>
                            <div class="mt-2 text-md text-secondary">
                                {{item.description}}
                            </div>
                        </div>
                        <div class="self-center text-right">${{item.price}}</div>
                        <div class="self-center text-right">{{item.qty}}</div>
                        <div class="col-span-2 self-center text-right">${{item.price * item.qty}}</div>

                        <div class="col-span-12 my-4 border-b"></div>
                    </ng-container>
                    <!-- Item -->

                    <!-- Spacer -->
                    <div class="col-span-12 mt-16"></div>

                    <!-- Subtotal -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">${{factura.footer.subTotal}}</div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Tax -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                        style="margin-bottom: 3%">TAX</div>

                    <ng-container *ngFor="let tax of factura.content.taxes ; let i=index">
                        <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 1%">
                            {{tax.name}}
                        </div>
                        <div class="col-span-2 text-right text-lg">${{tax.amount}}</div>
                    </ng-container>

                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">
                        ${{factura.footer.taxTotal?factura.footer.taxTotal:0}}
                        <!--<button (click)="sumTaxes()">Calculate</button>-->
                    </div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Discount -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                        style="margin-bottom: 3%">DISDISCOUNT</div>
                    <ng-container *ngFor="let disc of factura.content.Discounts ; let i=index">
                        <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 1%">
                            {{disc.name}}
                        </div>
                        <div class="col-span-2 text-right text-lg">${{disc.amount}}</div>
                    </ng-container>
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">
                        $-{{factura.footer.discountTotal?factura.footer.discountTotal:0}}
                        <!--<button (click)="sumDiscount()">Calculate</button>-->
                    </div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Total -->
                    <div class="col-span-10 self-center text-2xl font-medium tracking-tight text-secondary">TOTAL</div>
                    <div class="col-span-2 text-right text-2xl font-medium">${{factura.footer.total}}</div>
                </div>

                <div class="mt-16">
                    <div class="font-medium">{{factura.footer.Message}}</div>
                    <div class="flex items-start mt-4">
                        <img class="flex-0 w-10 mt-2" src="assets/images/logo/logo32.png">
                        <div class="ml-6 text-sm text-secondary">
                            {{factura.footer.AdditionalInfo}}
                        </div>
                    </div>
                </div>

            </div>
            <!--!End Invoice 1-->


            <!--! Invoice 2 -->
            <div *ngIf="showInvoice[1]"
                class="w-240 min-w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent">

                <div class="flex items-start justify-between">
                    <div class="grid grid-cols-2 gap-x-4 gap-y-1">
                        <div class="text-4xl tracking-tight text-secondary">INVOICE</div>
                        <div class="text-4xl">#{{factura.header.info.fact_number}}</div>
                        <div class="font-medium tracking-tight text-secondary">INVOICE DATE</div>
                        <div class="font-medium">{{factura.header.info.Date}}</div>
                        <div class="font-medium tracking-tight text-secondary">DUE DATE</div>
                        <div class="font-medium">{{factura.header.info.DueDate}}</div>
                        <div class="font-medium tracking-tight text-secondary">TOTAL DUE</div>
                        <div class="font-medium">${{factura.footer.total}}</div>
                    </div>
                    <div class="grid auto-cols-max grid-flow-col gap-x-8 -mr-16 py-6 px-8 rounded-l-2xl bg-accent dark">
                        <div class="place-self-center w-24">
                            <img class="w-24" src="assets/images/logo/logo32.png">
                        </div>
                        <div class="pl-10 border-l text-md">
                            <div class="font-medium">{{factura.header.empresa.name}}</div>
                            <div>{{factura.header.empresa.address1}}</div>
                            <div>{{factura.header.empresa.address2}}</div>
                            <div>{{factura.header.empresa.phone}}</div>
                            <div>{{factura.header.empresa.email}}</div>
                            <div>{{factura.header.empresa.pag}}</div>
                        </div>
                    </div>
                </div>

                <div class="text-md">
                    <div class="text-xl font-medium">{{factura.header.bill.name}}</div>
                    <div>{{factura.header.bill.address1}}</div>
                    <div>{{factura.header.bill.phone}}</div>
                    <div>{{factura.header.bill.email}}</div>
                </div>

                <div class="grid grid-cols-12 gap-x-1 mt-12">
                    <!-- Columns -->
                    <div class="col-span-8 font-medium text-md text-secondary">SERVICE</div>
                    <div class="font-medium text-md text-right text-secondary">RATE</div>
                    <div class="font-medium text-md text-right text-secondary">QTY</div>
                    <div class="col-span-2 font-medium text-md text-right text-secondary">TOTAL</div>

                    <!-- Divider -->
                    <div class="col-span-12 my-4 border-b"></div>

                    <!-- Item -->
                    <ng-container *ngFor="let item of factura.content.services; let i=index">
                        <div class="col-span-8 text-lg font-medium">{{item.service}}</div>
                        <div class="self-center text-right">${{item.price}}</div>
                        <div class="self-center text-right">{{item.qty}}</div>
                        <div class="col-span-2 self-center text-right">${{item.price * item.qty}}</div>
                    </ng-container>

                    <!-- Divider -->
                    <div class="col-span-12 my-4 border-b"></div>


                    <!-- Spacer -->
                    <div class="col-span-12 mt-16"></div>

                    <!-- Subtotal -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">${{factura.footer.subTotal}}</div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Tax -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                        style="margin-bottom: 3%">TAX</div>
                    <ng-container *ngFor="let tax of factura.content.taxes ; let i=index">
                        <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 1%">
                            {{tax.name}}
                        </div>
                        <div class="col-span-2 text-right text-lg">${{tax.amount}}</div>
                    </ng-container>
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">
                        ${{factura.footer.taxTotal?factura.footer.taxTotal:0}}
                        <!--<button (click)="sumTaxes()">Calculate</button>-->
                    </div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Discount -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                        style="margin-bottom: 3%">DISCOUNT</div>
                    <ng-container *ngFor="let disc of factura.content.Discounts ; let i=index">
                        <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 1%">
                            {{disc.name}}
                        </div>
                        <div class="col-span-2 text-right text-lg">${{disc.amount}}</div>
                    </ng-container>

                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">
                        $-{{factura.footer.discountTotal?factura.footer.discountTotal:0}}
                        <!--<button (click)="sumDiscount()">Calculate</button>-->
                    </div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Total -->
                    <div class="col-span-10 self-center text-2xl font-medium tracking-tight text-secondary">TOTAL</div>
                    <div class="col-span-2 text-right text-2xl font-medium">${{factura.footer.total}}</div>
                </div>

                <div class="mt-16">
                    <div class="font-medium">{{factura.footer.Message}}</div>
                    <div class="flex items-start mt-4">
                        <img class="flex-0 w-10 mt-2" src="assets/images/logo/logo32.png">
                        <div class="ml-6 text-sm text-secondary">
                            {{factura.footer.AdditionalInfo}}
                        </div>
                    </div>
                </div>


            </div>
            <!--!End Invoice 2-->

        </div>

    </div>


</div>
