<!--<div>
    <button class="ml-4" mat-flat-button [color]="'primary'" (click)="PruebaAgregar()">Agregar</button>
</div>

<div>
    <button class="ml-4" mat-flat-button [color]="'primary'" (click)="PruebaEditar()">Editar</button>    
</div>

<div>
    <button class="ml-4" mat-flat-button [color]="'primary'" (click)="PruebaEliminar()">Eliminar</button>
</div>

<div>
    <button class="ml-4" mat-flat-button [color]="'primary'" (click)="PruebaConsultar()">Consultar</button>
</div>
-->
<router-outlet></router-outlet>
