<div id="loading">
    <div id="loading-center">
        <img src="./assets/sofbox-v2/images/loader.gif" alt="loader">
    </div>
</div>
<!-- Header Component Start-->
<app-v-two-header-style1 [logoImg]="navLogo" [navItemList]="navItems">
    <li button class="button-btn list-inline-item">
        <nav aria-label="breadcrumb">
            <div class="blue-btn button"><a href="#">Get Started</a></div>
        </nav>
    </li>
</app-v-two-header-style1>
<!-- Header Component End-->
<app-v-two-banner-style1 title="About US">
    <div bannerLinks>
        <ol class="breadcrumb main-bg">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home mr-1" aria-hidden="true"></i>Home</a></li>
            <li class="breadcrumb-item active">About US</li>
        </ol>
    </div>
</app-v-two-banner-style1>
<!-- Main Content -->
<div class="main-content">
    <app-feature></app-feature>
    <app-tips-trick1></app-tips-trick1>
    <app-tips-trick2></app-tips-trick2>
    <app-team></app-team>
</div>
<!-- Main Content END -->
<app-v-two-footer-style2 [footerLogo]="footerLogo" [footerText]="footerText" [footerTitle]="footerTitle" [footerDescription]="footerDescription">
    <ul menu>
        <li><a class="text-white" href="javascript:void(0)">About Us</a></li>
        <li><a class="text-white" href="javascript:void(0)">Theme</a></li>
        <li><a class="text-white" href="javascript:void(0)">Features</a></li>
        <li><a class="text-white" href="javascript:void(0)">Pricing</a></li>
        <li><a class="text-white" href="javascript:void(0)">Blog</a></li>
    </ul>
    <ul about_us>
        <li><a class="text-white" href="javascript:void(0)">About sofbox</a></li>
        <li><a class="text-white" href="javascript:void(0)">Roadmap</a></li>
        <li><a class="text-white" href="javascript:void(0)">How it Work</a></li>
        <li><a class="text-white" href="javascript:void(0)">Team</a></li>
        <li><a class="text-white" href="javascript:void(0)">News</a></li>
    </ul>
    <div testimonial>
        <app-v-two-testimonial-carousel [testimonialList]="List"></app-v-two-testimonial-carousel>
    </div>
</app-v-two-footer-style2>