<app-footer-main footerClass="iq-footer3 iq-ptb-20">
   <div footerContent>
      <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
            <app-footer-logo
               sectionImage="{{ navLogo }}"
               sectionColor="white"
               sectionText="{{Prefijo + 'Contenido' | translate}} "
               ></app-footer-logo>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
            <app-footer-address [addressTitle]= "Prefijo + 'Direccion'  | translate" [addressContent]="footerText"></app-footer-address>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
          <app-footer-address [addressTitle]="Prefijo + 'HorarioDeOficina'  | translate" addressClass="addresss-info" [addressContent]="footerTiming"></app-footer-address>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
            <app-footer-links [title]= "Prefijo + 'Menu'  | translate " [content]="footerHome"></app-footer-links>
         </div>
      </div>
      <hr>
      <div class="row iq-mt-20 align-items-center">
         <div class="col-lg-8 col-md-7 col-sm-12 text-left iq-font-dark">
            <div>{{Prefijo + 'Desarrollado' | translate}}&nbsp;<b>Jermsoft</b>.</div>
         </div>
         <div class="col-md-5 col-lg-4 col-sm-12 align-self-center">
            <ul class="info-share text-center text-sm-right">
               <li *ngFor="let option of socialNavItems">
                  <a href="{{ option.href }}" [innerHTML]="option.icon"></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</app-footer-main>

