<section class="iq-how-work pt-0" id="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <app-black-section-title title="HOW ITS WORK" subtitle="How Does sofbox Work"></app-black-section-title>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div [ngClass]="'iq-work wow fadeInUp'" data-wow-duration="0.5s">
          <app-black-card-style1>
            <div cardNumber>01</div>
            <div cardContent>
              <i class="flaticon-responsive flaticon mb-3"></i>
              <h4 class=" iq-fw-8">Easy Install</h4>
              <p class="mt-3 mb-0">It is a long established fact that a reader will be distracted by the readable
                content of a page.</p>
            </div>
            <div cardLink>
              <a class="readmore iq-fw-5" href="service.html"><i class="ion-arrow-right-c"></i></a>
            </div>
          </app-black-card-style1>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="iq-work wow fadeInUp" data-wow-duration="0.5s">
          <app-black-card-style1>
            <div cardNumber>02</div>
            <div cardContent>
              <i class="flaticon-monitor flaticon mb-3"></i>
              <h4 class=" iq-fw-8">Create an Account</h4>
              <p class="mt-3 mb-0">It is a long established fact that a reader will be distracted by the readable
                content of a page.</p>
            </div>
            <div cardLink>
              <a class="readmore iq-fw-5" href="service.html"><i class="ion-arrow-right-c"></i></a>
            </div>
          </app-black-card-style1>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="iq-work wow fadeInUp" data-wow-duration="0.5s">
          <app-black-card-style1>
            <div cardNumber>03</div>
            <div cardContent>
              <i class="flaticon-upload flaticon mb-3"></i>
              <h4 class=" iq-fw-8">Upload Your Data</h4>
              <p class="mt-3 mb-0">It is a long established fact that a reader will be distracted by the readable
                content of a page.</p>
            </div>
            <div cardLink>
              <a class="readmore iq-fw-5" href="service.html"><i class="ion-arrow-right-c"></i></a>
            </div>
          </app-black-card-style1>
        </div>
      </div>
    </div>
  </div>
</section>
