<!-- Who is TuFactura ? -->

<app-section-style2 id="how-it-works" [small]="true">
  <div class="col-lg-6" cardMedia>
    <img class="img-fluid" src="./assets/images/drive/05.png" alt="drive05">
  </div>
  <div class="col-lg-6" cardBody>
    <div class="heading-title left text-left">
      <h3 class="iq-tw-7 iq-mb-25 title">{{Prefijo + 'TuFacturaOfrece' | translate}}</h3>
    </div>
    <div class=" text-discover iq-mb-25">
      <span class="iq-font-blue iq-tw-8">{{Prefijo + 'EdicionFacturas' | translate}}</span>
      <p class="iq-font-15 iq-mt-10">{{Prefijo + 'AdministracionCliente' | translate}}</p>
    </div>
  </div>
</app-section-style2>

<section id="how-works" class="overview-block-ptb how-works">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="heading-title left text-left">
          <h3 class="iq-tw-7 iq-mb-25 title">{{Prefijo + 'TuFacturaEncargar' | translate}}</h3>
        </div>
        <div class="text-discover iq-mb-25 ">
          <span class="iq-font-blue iq-tw-8">{{Prefijo + 'FacturasOnline' | translate}}</span>
          <p class="iq-font-15 iq-mt-10">{{Prefijo + 'AdmiClientes' | translate}}</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <img class="iq-works-img" src="./assets/images/drive/01.png" alt="drive01">
      </div>
    </div>
  </div>
  <div class="iq-objects">
    <span class="iq-objects-01">
      <img src="./assets/images/drive/02.png" alt="drive02">
    </span>
    <span class="iq-objects-02 skrollable skrollable-between" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);" style="transform: translateY(6.77966px);">
      <img src="./assets/images/drive/03.png" alt="drive02">
    </span>
    <span class="iq-objects-03 skrollable skrollable-between" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);" style="transform: translateX(-5.74572px);">
      <img src="./assets/images/drive/04.png" alt="drive02">
    </span>
    <span class="iq-objects-04 iq-fadebounce">
      <span class="iq-round"></span>
    </span>
  </div>
</section>
<!-- Who is TuFactura ? END -->
