<section>
    <div class="row form">
        <div class="col-md-12" style="margin-top: 10%;">
            <form [formGroup]="ControlForm">
                <div class="col-md-12">
                    <div class="sm:col-span-4">
                        <!-- form email -->
                        <!-- <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Email</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:mail'"
                                matPrefix></mat-icon>
                            <input [formControlName]="'Email'" matInput />
                        </mat-form-field> -->

                        <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%">
                            <mat-label>Email</mat-label>
                            <input [formControlName]="'Email'" matInput type="email" class="form-control" />
                        </mat-form-field>
                    </div>

                    <div class="sm:col-span-4">
                        <!-- form Movil -->
                        <!-- <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Movil</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:phone'"
                                matPrefix
                            ></mat-icon>
                            <input [formControlName]="'Movil'" matInput />
                        </mat-form-field> -->

                        <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%">
                            <mat-label>Movil</mat-label>
                            <input [formControlName]="'Movil'" matInput type="text" class="form-control" />
                        </mat-form-field>
                    </div>

                    <div class="sm:col-span-4">
                        <!-- form date -->
                        <!-- <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>FechaCobro</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:phone'"
                                matPrefix
                            ></mat-icon>
                            <input [formControlName]="'FechaCobro'" matInput />
                        </mat-form-field> -->

                        <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%">
                            <mat-label>FechaCobro</mat-label>
                            <input [formControlName]="'FechaCobro'" matInput type="date" class="form-control" />
                        </mat-form-field>
                    </div>

                    <div class="sm:col-span-4">
                        <!-- form date -->

                        <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%;">
                            <mat-label>Cobro</mat-label>
                            <mat-select  [formControlName]="'DiaCobro'" placeholder="Seleccione...">
                              <mat-option *ngFor="let val of TipoCobro" value="{{val}}"> {{val}} </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <div class="sm:col-span-4">
                        <!-- form extra1 -->
                        <!-- <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>Extra1</mat-label>
                            <textarea
                                matInput
                                [formControlName]="'Extra1'"
                                matTextareaAutosize
                                [matAutosizeMinRows]="3"></textarea>
                        </mat-form-field> -->

                        <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%">
                            <mat-label>Extra1</mat-label>
                            <!-- <input
                                [formControlName]="'Extra1'"
                                matInput
                                type="text"
                                class="form-control"
                            /> -->
                            <textarea matInput [formControlName]="'Extra1'" matTextareaAutosize
                                [matAutosizeMinRows]="2"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="sm:col-span-4">
                        <!-- form extra2 -->
                        <!-- <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>Extra2</mat-label>
                            <textarea
                                matInput
                                [formControlName]="'Extra2'"
                                matTextareaAutosize
                                [matAutosizeMinRows]="3"></textarea>
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%">
                            <mat-label>Extra2</mat-label>
                            <!-- <input
                                [formControlName]="'Extra2'"
                                matInput
                                type="text"
                                class="form-control"
                            /> -->
                            <textarea matInput [formControlName]="'Extra2'" matTextareaAutosize
                                [matAutosizeMinRows]="2"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="sm:col-span-4">
                        <!-- form estado -->
                        <!-- <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Estado</mat-label>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:user'"
                                matPrefix
                            ></mat-icon>
                            <input [formControlName]="'Estado'" matInput />
                        </mat-form-field> -->

                        <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%">
                            <mat-label>Estado</mat-label>
                            <input [formControlName]="'Estado'" matInput type="text" class="form-control" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex items-center justify-end" style="margin-top: 5%; margin-bottom: 5%">
                    <button class="ml-4" mat-flat-button type="button" [color]="'primary'"
                        (click)="DataForm(ControlForm)">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>