<!-- Banner -->
<app-parallax-hero-style1
  ids="iq-home"
  classNames="iq-banner-02 no-before overview-block-pt iq-bg-over iq-over-black-60 iq-parallax"
  bgImage="./assets/images/bg/01.jpg"
>
  <div class="container">
    <div class="banner-text text-center">
      <div class="row">
        <div class="col-md-12">
          <h1 class=" iq-font-white iq-tw-8">{{Prefijo + 'TuFactura'| translate }} <span class="iq-font-blue">{{Prefijo + 'AutomatizaTrabajo' | translate}}</span></h1>
        </div>
        <div class="col-md-12">
          <iframe class="banner-video" src="https://www.youtube.com/embed/kzyFmrFky7Y?rel=0&amp;showinfo=0&amp;autoplay=1&loop=3&autopause=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-objects">
    <span class="banner-objects-01" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-50px);">
      <img src="./assets/images/drive/03.png" alt="drive02">
    </span>
    <span class="banner-objects-02 iq-fadebounce">
        <span class="iq-round"></span>
    </span>
    <span class="banner-objects-03 iq-fadebounce">
      <span class="iq-round"></span>
    </span>
    <span class="banner-objects-04" data-bottom="transform:translatex(100px)" data-top="transform:translatex(-100px);">
      <img src="./assets/images/drive/04.png" alt="drive02">
    </span>
  </div>
</app-parallax-hero-style1>
<!-- Banner End -->
