<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-50">
                <img src="assets/images/logo/logo32.png">
            </div>

            <!-- Title -->
            <ng-container *transloco="let t"><div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">{{t('Register')}}</div></ng-container>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>¿Ya tienes una cuenta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/pages/authentication/sign-in']">Login
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form
                class="mt-8"
                [formGroup]="signUpForm">
                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Nombre completo</mat-label>
                    <input
                        id="name"
                        matInput
                        [formControlName]="'name'">
                    <mat-error *ngIf="signUpForm.get('name').hasError('required')">
                        El Nombre es requerido
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Correo electrónico</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        Correo electrónico es Requerido
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                        Por favor agregue un correo electrónico válido
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"                        
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>Contraseña es requerida</mat-error>
                </mat-form-field>

                <!-- Company field -->
                <mat-form-field class="w-full">
                    <mat-label>Nombre de la Empresa</mat-label>
                    <input id="company-confirm" [formControlName]="'nameCompany'" matInput >
                        <mat-error>Nombre de la empresa es requerida</mat-error>
                </mat-form-field>

                <!--Phone Number-->
               
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Teléfono</mat-label>
                    <span matPrefix>+58 &nbsp;</span>
                    <input id="phoneNumber" [formControlName]="'phoneNumber'" type="tel" matInput placeholder="555-555-1234">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error>Número de teléfono es requerido</mat-error>
                </mat-form-field>

                <!--Country-->                
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>País</mat-label>
                    <mat-select id="country" [formControlName]="'country'">
                        <mat-option selected>Selecciona un país</mat-option>
                        <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
                    </mat-select>
                    <mat-error>El País es requerido</mat-error>
                </mat-form-field>

                <!-- Razón Social -->
                <mat-form-field class="w-full" appearance="fill">
                    <mat-label>Razón social de la Empresa</mat-label>
                    <span matPrefix>J - &nbsp;</span>
                    <input type="tel" [formControlName]="'reasonSocial'" matInput placeholder="123456789">                    
                    <mat-error>Razón social es requerida</mat-error>
                </mat-form-field>

                <!-- ToS and PP -->
                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'agreements'"
                        [(ngModel)]="checked">
                        <span>Acepto los</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">terminos del servicio
                        </a>
                        <span>y</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">Politicas de Privacidad
                        </a>
                    </mat-checkbox>
                </div>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="!checked"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Crear una cuenta
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </form> 
        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Bienvenido</div>
                <!--<div>our community</div>-->
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                RPagos te ayuda con tu facturación y principalmente con la cobranza de tus clientes, 
                manten las cuentas por cobrar al día y de forma automatica.
            </div>
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-18.jpg">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-11.jpg">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-09.jpg">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-16.jpg">
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-400">Más de 2.000 Clientes satisfechos con nuestro servicio.</div>
            </div>
            <div class="fixed flex items-end justify-end right-0 w-10 h-10 shadow-lg rounded-l-lg z-999 cursor-pointer print:hidden" style="top: 600px">
                <language></language>
            </div>
        </div>
    </div>
</div>
