<mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w100">

    <mat-label>Rol</mat-label>

    <mat-select [(ngModel)]="selected" (ngModelChange)="selectedRol()">

        <mat-select-trigger class="text-md">
            <span>Role:</span>
            <span class="ml-1 font-medium">{{ selected }}</span>
        </mat-select-trigger>

        <ng-container *ngFor="let role of roles">
            <mat-option class="h-auto py-4 leading-none" [value]="role.label">
                <div class="font-medium">{{ role.label }}</div>
                <div class="
                            mt-1.5
                            text-sm
                            whitespace-normal
                            leading-normal
                            text-secondary
                        ">
                    {{ role.description }}
                </div>
            </mat-option>
        </ng-container>
    </mat-select>
</mat-form-field>

<!-- <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected">
            <mat-option value="option1">Read</mat-option>
            <mat-option value="option2">Write</mat-option>
            <mat-option value="option3">Admin</mat-option>
        </mat-select>
    </mat-form-field> -->
