<div class="flex flex-col w-full">
    <!-- Edit mode -->
    <ng-container>

        <!-- Header -->
        <div class="relative w-full h-4 sm:h-48 px-8 sm:px-6 bg-accent-100 dark:bg-accent-700">
            <!-- Background -->
            <ng-container *ngIf="contact.background">
                <img class="absolute inset-0 object-cover w-full h-full" [src]="contact.background">
            </ng-container>
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <button mat-icon-button [matTooltip]="'Close'" style="background-color: white;" [routerLink]="['../']">
                    <mat-icon class="text-black" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                </button>
            </div>
        </div>

        <!-- Contact form -->
        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-6">
            <div class="w-full max-w-3xl">
                <form [formGroup]="contactForm">

                    <!-- Avatar -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div
                            class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                            <!-- Upload / Remove avatar -->
                            <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                            <div class="absolute inset-0 flex items-center justify-center z-20">
                                <div>
                                    <input id="avatar-file-input"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                                        [multiple]="false" [accept]="'image/jpeg, image/png'"
                                        (change)="uploadAvatar(avatarFileInput.files)" #avatarFileInput>
                                    <label
                                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                        for="avatar-file-input" matRipple>
                                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                    </label>
                                </div>
                                <div>
                                    <button mat-icon-button (click)="removeAvatar()">
                                        <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <!-- Image/Letter -->
                            <img class="object-cover w-full h-full" *ngIf="contact.avatar" [src]="contact.avatar">
                            <div class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                *ngIf="!contact.avatar">
                                {{contact.name.charAt(0)}}
                            </div>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>
                                <ng-container *transloco="let t">{{t('ContactClient')}}</ng-container>
                            </mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            <input matInput [formControlName]="'name'" [placeholder]="'Nombre de la Empresa'"
                                [spellcheck]="false">
                        </mat-form-field>
                    </div>

                    <!-- Tags -->
                    <div class="flex flex-wrap items-center -m-1.5 mt-6">
                        <!-- Tags -->
                        <ng-container *ngIf="contact.tags.length">
                            <ng-container
                                *ngFor="let tag of (contact.tags | fuseFindByKey:'id':tags); trackBy: trackByFn">
                                <div
                                    class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                    <span class="text-md font-medium whitespace-nowrap">{{tag.title}}</span>
                                </div>
                            </ng-container>
                        </ng-container>
                        <!-- Tags panel and its button -->
                        <div class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700"
                            (click)="openTagsPanel()" #tagsPanelOrigin>

                            <ng-container *ngIf="contact.tags.length">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                <span class="ml-1.5 text-md font-medium whitespace-nowrap">
                                    <ng-container *transloco="let t">{{t('Edit')}}</ng-container>
                                </span>
                            </ng-container>

                            <ng-container *ngIf="!contact.tags.length">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                <span class="ml-1.5 text-md font-medium whitespace-nowrap">
                                    <ng-container *transloco="let t">{{t('Add')}}</ng-container>
                                </span>
                            </ng-container>

                            <!-- Tags panel -->
                            <ng-template #tagsPanel>
                                <div class="w-60 rounded border shadow-md bg-card">
                                    <!-- Tags panel header -->
                                    <div class="flex items-center m-3 mr-2">
                                        <div class="flex items-center">
                                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'">
                                            </mat-icon>
                                            <div class="ml-2">
                                                <input class="w-full min-w-0 py-1 border-0" type="text"
                                                    placeholder="Nombre de la etiqueta" (input)="filterTags($event)"
                                                    (keydown)="filterTagsInputKeyDown($event)" [maxLength]="30"
                                                    #newTagInput>
                                            </div>
                                        </div>
                                        <button class="ml-1" mat-icon-button (click)="toggleTagsEditMode()">
                                            <mat-icon *ngIf="!tagsEditMode" class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                            <mat-icon *ngIf="tagsEditMode" class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        </button>
                                    </div>
                                    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                                        <!-- Tags -->
                                        <ng-container *ngIf="!tagsEditMode">
                                            <ng-container *ngFor="let tag of filteredTags; trackBy: trackByFn">
                                                <div class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover"
                                                    (click)="toggleContactTag(tag)" matRipple>
                                                    <mat-checkbox
                                                        class="flex items-center h-10 min-h-10 pointer-events-none"
                                                        [checked]="contact.tags.includes(tag.id)" [color]="'primary'"
                                                        [disableRipple]="true">
                                                    </mat-checkbox>
                                                    <div class="ml-1">{{tag.title}}</div>
                                                </div>
                                            </ng-container>
                                        </ng-container>
                                        <!-- Tags editing -->
                                        <ng-container *ngIf="tagsEditMode">
                                            <div class="py-2 space-y-2">
                                                <ng-container *ngFor="let tag of filteredTags; trackBy: trackByFn">
                                                    <div class="flex items-center">
                                                        <mat-form-field
                                                            class="fuse-mat-dense fuse-mat-no-subscript w-full mx-4">
                                                            <input matInput [value]="tag.title"
                                                                (input)="updateTagTitle(tag, $event)">
                                                            <button mat-icon-button (click)="deleteTag(tag)" matSuffix>
                                                                <mat-icon class="icon-size-5 ml-2"
                                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                                            </button>
                                                        </mat-form-field>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                        <!-- Create tag -->
                                        <div class="flex items-center h-10 min-h-10 -ml-0.5 pl-4 pr-3 leading-none cursor-pointer hover:bg-hover"
                                            *ngIf="shouldShowCreateTagButton(newTagInput.value)"
                                            (click)="createTag(newTagInput.value); newTagInput.value = ''" matRipple>
                                            <mat-icon class="mr-2 icon-size-5"
                                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                            <div class="break-all">Añadir etiqueta "<b>{{newTagInput.value}}</b>"</div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <!-- Title -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>
                                <ng-container *transloco="let t">{{t('NameBussines')}}</ng-container>
                            </mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:office-building'"></mat-icon>
                            <input matInput [formControlName]="'title'" [placeholder]="'Contacto Persona'">
                        </mat-form-field>
                    </div>

                    <!-- Company -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>
                                <ng-container *transloco="let t">{{t('ReasonSocial')}}</ng-container>
                            </mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                            <input matInput [formControlName]="'company'" [placeholder]="'RIF'">
                        </mat-form-field>
                    </div>

                    <!-- Emails -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container
                                *ngFor="let email of contactForm.get('emails')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="flex">
                                    <ng-container *transloco="let t">
                                        <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                            <mat-label *ngIf="first">{{t('Email')}}</mat-label>
                                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                            <input matInput [formControl]="email.get('email')" [placeholder]="'Email'"
                                                [spellcheck]="false">
                                        </mat-form-field>
                                        <mat-form-field
                                            class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4">
                                            <mat-label *ngIf="first">{{t('Etiqueta')}}</mat-label>
                                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                                [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                            <input matInput [formControl]="email.get('label')"
                                                [placeholder]="'Etiqueta'">
                                        </mat-form-field>
                                    </ng-container>
                                    <!-- Remove email -->
                                    <ng-container *ngIf="!(first && last)">
                                        <div class="flex items-center w-10 pl-2" [ngClass]="{'mt-6': first}">
                                            <button class="w-8 h-8 min-h-8" mat-icon-button
                                                (click)="removeEmailField(i)" matTooltip="Eliminar">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <div class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addEmailField()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="ml-2 font-medium text-secondary group-hover:underline">
                                <ng-container *transloco="let t">{{t('AddEmail')}}</ng-container>
                            </span>
                        </div>
                    </div>

                    <!-- Redes De Contactos -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container
                                *ngFor="let contact of contactForm.get('redes')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">
                                            <ng-container *transloco="let t">{{t('RedContact')}}</ng-container>
                                        </mat-label>
                                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:view-grid'"></mat-icon>
                                        <input matInput [formControl]="contact.get('name')" [placeholder]="'Red'"
                                            [spellcheck]="false">
                                    </mat-form-field>
                                    <mat-form-field
                                        class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4">
                                        <mat-label *ngIf="first">
                                            <ng-container *transloco="let t">{{t('Etiqueta')}}</ng-container>
                                        </mat-label>
                                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                        <input matInput [formControl]="contact.get('label')" [placeholder]="'Etiqueta'">
                                    </mat-form-field>
                                    <!-- Remove Phone -->
                                    <ng-container *ngIf="!(first && last)">
                                        <div class="flex items-center w-10 pl-2" [ngClass]="{'mt-6': first}">
                                            <button class="w-8 h-8 min-h-8" mat-icon-button (click)="removeRedField(i)"
                                                matTooltip="Eliminar">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </div>
                        <div class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addRedField()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="ml-2 font-medium text-secondary group-hover:underline">
                                <ng-container *transloco="let t">{{t('AddRedContact')}}</ng-container>
                            </span>
                        </div>
                    </div>

                    <!-- Phone numbers -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container
                                *ngFor="let phoneNumber of contactForm.get('phoneNumbers')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="relative flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">
                                            <ng-container *transloco="let t">{{t('Phone')}}</ng-container>
                                        </mat-label>
                                        <input matInput [formControl]="phoneNumber.get('phoneNumber')"
                                            [placeholder]="'Phone'">
                                        <mat-select class="mr-1.5" [formControl]="phoneNumber.get('country')" matPrefix>
                                            <mat-select-trigger>
                                                <span class="flex items-center">
                                                    <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                                        [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                        [style.backgroundSize]="'24px 3876px'"
                                                        [style.backgroundPosition]="getCountryByIso(phoneNumber.get('country').value).flagImagePos"></span>
                                                    <span
                                                        class="sm:mx-0.5 font-medium text-default">{{getCountryByIso(phoneNumber.get('country').value).code}}</span>
                                                </span>
                                            </mat-select-trigger>
                                            <ng-container *ngFor="let country of countries; trackBy: trackByFn">
                                                <mat-option [value]="country.iso">
                                                    <span class="flex items-center">
                                                        <span class="w-6 h-4 overflow-hidden"
                                                            [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                            [style.backgroundSize]="'24px 3876px'"
                                                            [style.backgroundPosition]="country.flagImagePos"></span>
                                                        <span class="ml-2">{{country.name}}</span>
                                                        <span class="ml-2 font-medium">{{country.code}}</span>
                                                    </span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        

                                    </mat-form-field>
                                    <mat-form-field
                                        class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4">
                                        <mat-label *ngIf="first">
                                            <ng-container *transloco="let t">{{t('Etiqueta')}}</ng-container>
                                        </mat-label>
                                        <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                        <input matInput [formControl]="phoneNumber.get('label')"
                                            [placeholder]="'Etiqueta'">
                                    </mat-form-field>
                                    <!-- Remove phone number -->
                                    <ng-container *ngIf="!(first && last)">
                                        <div class="flex items-center w-10 pl-2" [ngClass]="{'mt-6': first}">
                                            <button class="w-8 h-8 min-h-8" mat-icon-button
                                                (click)="removePhoneNumberField(i)" matTooltip="Remove">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'">
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                            
                        </div>
                        <div class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addPhoneNumberField()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="ml-2 font-medium text-secondary group-hover:underline">
                                <ng-container *transloco="let t">{{t('AddNumberPhone')}}</ng-container>
                            </span>
                        </div>
                    </div>

                    <!-- País 
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container
                                *ngFor="let paisporusuario of contactForm.get('paisporusuario')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn">
                                <div class="relative flex">
                                    <mat-form-field class="fuse-mat-no-subscript flex-auto">
                                        <mat-label *ngIf="first">
                                            <ng-container *transloco="let t">{{t('Pais')}}</ng-container>
                                        </mat-label>
                                        <mat-select class="mr-1.5" [formControl]="paisporusuario.get('country')"
                                            matPrefix>
                                            <mat-select-trigger>
                                                <span class="flex items-center">
                                                    <span class="hidden sm:flex w-6 h-4 mr-1 overflow-hidden"
                                                        [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                        [style.backgroundSize]="'24px 3876px'"
                                                        [style.backgroundPosition]="getCountryByIso(paisporusuario.get('country').value).flagImagePos"></span>
                                                    <span
                                                        class="sm:mx-0.5 font-medium text-default">{{getCountryByIso(paisporusuario.get('country').value).name}}</span>
                                                </span>
                                            </mat-select-trigger>
                                            <ng-container *ngFor="let country of countries; trackBy: trackByFn">
                                                <mat-option [value]="country.iso">
                                                    <span class="flex items-center">
                                                        <span class="w-6 h-4 overflow-hidden"
                                                            [style.background]="'url(\'/assets/images/apps/contacts/flags.png\') no-repeat 0 0'"
                                                            [style.backgroundSize]="'24px 3876px'"
                                                            [style.backgroundPosition]="country.flagImagePos"></span>
                                                        <span class="ml-2">{{country.name}}</span>
                                                    </span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>-->
                    <div class="mt-8">
                        <div class="space-y-4">
                                <div fxLayoutAlign="center">
                                    <mat-select-country appearance="outline"
                                                        label="Country"
                                                        class="className"
                                                        formControlName="country"
                                                        (onCountrySelected)="onCountrySelected($event)">
                                    </mat-select-country>
                                </div>
                            </div>
                        </div>
                    <!-- Address -->

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>
                                <ng-container *transloco="let t">{{t('AdressShip')}}</ng-container>
                            </mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            <textarea matInput [formControlName]="'address'" [placeholder]="'Dirección de Facturación'"
                                [rows]="2" [spellcheck]="false" matTextareaAutosize></textarea>
                        </mat-form-field>
                    </div>

                    <!-- Billing Address -->

                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>
                                <ng-container *transloco="let t">{{t('AdressBilling')}}</ng-container>
                            </mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:truck'">
                            </mat-icon>
                            <textarea matInput [formControlName]="'addressShop'" [placeholder]="'Dirección de Envío'"
                                [rows]="2" [spellcheck]="false" matTextareaAutosize></textarea>
                        </mat-form-field>
                    </div>

                    <!-- Notes -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                            <mat-label>
                                <ng-container *transloco="let t">{{t('Notes')}}</ng-container>
                            </mat-label>
                            <mat-icon matPrefix class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:menu-alt-2'"></mat-icon>
                            <textarea matInput [formControlName]="'notes'" [placeholder]="'Notes'" [rows]="5"
                                [spellcheck]="false" matTextareaAutosize></textarea>
                        </mat-form-field>
                    </div>

                    <!-- Actions -->
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent">
                        <!-- Delete -->
                        <ng-container *transloco="let t">
                            <!--<button mat-button [color]="'warn'" [matTooltip]="'Delete'" (click)="deleteContact()">-->
                            <!--{{t('Eliminar')}}-->
                            <!--</button>-->
                            <!-- Cancel -->
                            <button class="ml-auto" mat-button [matTooltip]="'Cancel'" [routerLink]="['../']">
                                {{t('Cancelar')}}
                            </button>
                            <!-- Save -->
                            <button *ngIf="newContact" class="ml-2" mat-flat-button [color]="'primary'"
                                [disabled]="contactForm.invalid" [matTooltip]="'Save'" (click)="updateContact(true)">
                                Crear
                            </button>
                            <button *ngIf="!newContact" class="ml-2" mat-flat-button [color]="'primary'"
                                [disabled]="contactForm.invalid" [matTooltip]="'Save'" (click)="updateContact(false)">
                                Guardar
                            </button>
                        </ng-container>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>
