<app-parallax-hero-style1
  ids="get-in-tech"
  classNames="overview-block-ptb iq-bg-over text-center  iq-over-blue-80 iq-screenshots iq-parallax"
  bgImage="./assets/images/bg/07.jpg"
>
  <div class="container">
    <br><br>
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-title white iq-font-white">
          <h3 class="title iq-tw-7">{{Prefijo + 'Contacto' | translate }}</h3>
          <p>{{Prefijo + 'ServicioCliente' | translate }}</p>
        </div>
        <a href="javascript:void(0)" class="button bt-black">{{Prefijo + 'Vamos' | translate }}</a>
      </div>
    </div>
  </div>
</app-parallax-hero-style1>
