<div id="loading">
    <div id="loading-center">
        <img src="./assets/sofbox-v2/images/loader.gif" alt="loader">
    </div>
</div>
<!-- Header Component Start-->
<app-v-two-header-style1 [logoImg]="navLogo" [navItemList]="navItems">
    <li button class="button-btn list-inline-item">
        <nav aria-label="breadcrumb">
            <div class="blue-btn button"><a href="#">Get Started</a></div>
        </nav>
    </li>
</app-v-two-header-style1>
<!-- Header Component End-->
<app-v-two-banner-style1 title="Two Column Blog">
    <div bannerLinks>
        <ol class="breadcrumb main-bg">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home mr-1" aria-hidden="true"></i>Home</a></li>
            <li class="breadcrumb-item active">Two Column Blog</li>
        </ol>
    </div>
</app-v-two-banner-style1>
<!-- Main Content -->
<div class="main-content">
    <section>
        <div class="container">
            <div class="row">
                <div *ngFor="let list of blogList" class="col-lg-6 col-md-6 col-sm-6 sofbox-space-bottom">
                    <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                            <img src="{{ list.image }}" class="img-fluid center-block" alt="blogimage1">
                            <div class="iq-blog-detail">
                                <div class="iq-blog-meta">
                                    <ul>
                                        <li class="list-inline-item">
                                            <span class="screen-reader-text">Posted on</span> <a href="#" rel="bookmark">{{ list.datetime }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="blog-title">
                                    <a href="#">
                                        <h5 class="mb-2">{{ list.title }}</h5>
                                    </a>
                                </div>
                                <p class="mb-0">{{ list.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pagination justify-content-center">
                        <nav aria-label="Page navigation">
                            <ul class="page-numbers justify-content-center">
                                <li><span aria-current="page" class="page-numbers current">1</span></li>
                                <li><a class="page-numbers" href="#">2</a></li>
                                <li><a class="next page-numbers" href="#"><span aria-hidden="true">Next page</span></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Main Content END -->
<app-v-two-footer-style2 [footerLogo]="footerLogo" [footerText]="footerText" [footerTitle]="footerTitle" [footerDescription]="footerDescription">
    <ul menu>
        <li><a class="text-white" href="javascript:void(0)">About Us</a></li>
        <li><a class="text-white" href="javascript:void(0)">Theme</a></li>
        <li><a class="text-white" href="javascript:void(0)">Features</a></li>
        <li><a class="text-white" href="javascript:void(0)">Pricing</a></li>
        <li><a class="text-white" href="javascript:void(0)">Blog</a></li>
    </ul>
    <ul about_us>
        <li><a class="text-white" href="javascript:void(0)">About sofbox</a></li>
        <li><a class="text-white" href="javascript:void(0)">Roadmap</a></li>
        <li><a class="text-white" href="javascript:void(0)">How it Work</a></li>
        <li><a class="text-white" href="javascript:void(0)">Team</a></li>
        <li><a class="text-white" href="javascript:void(0)">News</a></li>
    </ul>
    <div testimonial>
        <app-v-two-testimonial-carousel [testimonialList]="List"></app-v-two-testimonial-carousel>
    </div>
</app-v-two-footer-style2>