.color-nav{
    background-color: #7570FF;
}
.color-transparent{
    background-color: transparent;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}
