<section class="iq-testimonial pt-0" id="testimonial">
  <div class="container p-0">
    <div class="row no-gutters">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h6 class="title text-white">Testimonial</h6>
          <h2 class="text-white">What Client Say</h2>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="owl-carousel owl-theme owl-loaded" data-dots="true" data-nav="false" data-items="1" data-xs-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-autoplay="true">
        <app-black-card-style5>
          <ng-container cardBody>
            "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat."
          </ng-container>
          <img cardMedia src="./assets/sofbox-sass-black/images/testimonials/01.jpg" class="img-fluid mb-5 img-shap " alt="">
          <ng-container cardFooter>
            <h4>Kips Leo</h4>
            <p>CEO - sofbox</p>
          </ng-container>
        </app-black-card-style5>
        <app-black-card-style5>
          <ng-container cardBody>
            "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat."
          </ng-container>
          <img cardMedia src="./assets/sofbox-sass-black/images/testimonials/02.jpg" class="img-fluid mb-5 img-shap " alt="">
          <ng-container cardFooter>
            <h4>Kips Leo</h4>
            <p>CEO - sofbox</p>
          </ng-container>
        </app-black-card-style5>
        <app-black-card-style5>
          <ng-container cardBody>
            "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat."
          </ng-container>
          <img cardMedia src="./assets/sofbox-sass-black/images/testimonials/03.jpg" class="img-fluid mb-5 img-shap " alt="">
          <ng-container cardFooter>
            <h4>Kips Leo</h4>
            <p>CEO - sofbox</p>
          </ng-container>
        </app-black-card-style5>
        <app-black-card-style5>
          <ng-container cardBody>
            "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat."
          </ng-container>
          <img cardMedia src="./assets/sofbox-sass-black/images/testimonials/04.jpg" class="img-fluid mb-5 img-shap " alt="">
          <ng-container cardFooter>
            <h4>Kips Leo</h4>
            <p>CEO - sofbox</p>
          </ng-container>
        </app-black-card-style5>
        <app-black-card-style5>
          <ng-container cardBody>
            "Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.Progravida nibh vel velit auctor alinean sollicitudin, lorem quis bibendum auctor, nisi elit consequat."
          </ng-container>
          <img cardMedia src="./assets/sofbox-sass-black/images/testimonials/01.jpg" class="img-fluid mb-5 img-shap " alt="">
          <ng-container cardFooter>
            <h4>Kips Leo</h4>
            <p>CEO - sofbox</p>
          </ng-container>
        </app-black-card-style5>
      </div>
    </div>
  </div>
</section>
