<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo32.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Confirmación Requerida</div>
            <div class="mt-4">
                Se ha enviado un correo de confirmación con instrucciones a su dirección de correo electrónico.
                Siga esas instrucciones para confirmar su dirección de correo electrónico y activar su cuenta.
            </div>

            <!-- Form footer -->
            <div class="mt-8 text-md font-medium text-secondary">
                <span>Regresar</span>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']">Login
                </a>
            </div>
        </div>
    </div>
</div>
