<section class="iq-about-us position-relative iq-rpt-0" id="about-us">
  <div class="container ">
    <div class="row">
      <div class="col-lg-6 align-self-center">
        <app-black-section-title2 title="About Us" subtitle="About sofbox" titlecontent="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words
          which don't look even slightly believable.">
        </app-black-section-title2>
        <div class="row mb-5">
          <div class="col-lg-4 col-md-4 col-sm-4  iq-rmb-50 ">
            <div class="iq-counter brd text-left ">
              <div class="right">
                <h2 class="counter">
                  <span class="timer text-white  " [CountTo]="1520" [duration]="5">1520</span><sup class=" d-inline-block">+</sup></h2>
                <div class="iq-lead">App Downloads</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4  iq-rmb-50">
            <div class="iq-counter brd text-left ">
              <div class="right">
                <h2 class="counter"><span class="timer text-white" [CountTo]="500" [duration]="5">500</span> <sup class=" d-inline-block">+</sup></h2>
                <div class="iq-lead">Happy Clients</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4  ">
            <div class="iq-counter brd text-left ">
              <div class="right">
                <h2 class="counter"><span class="timer text-white" [CountTo]="110" [duration]="5" >110</span><sup class=" d-inline-block">+</sup></h2>
                <div class="iq-lead">Active Accounts</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <a class="button" href="#">Read More</a>
        </div>

      </div>
      <div class="col-lg-6"></div>
    </div>
    <div class="right-image wow slideInRight">
      <img src="./assets/sofbox-sass-black/images/about/01.png" class="img-fluid" alt="images">
    </div>
  </div>
</section>
