<app-footer-main footerClass="iq-footer">
  <div footerContent>
      <div class="row">
        <div class="col-md-12">
          <div class="footer-top">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
                <app-footer-logo
                  sectionImage="{{ navLogo }}"
                  sectionColor="white iq-font-black mb-4 mt-4"
                  sectionText="Simply dummy text of the printing and typesetting industry."
                >
                  <ul class="social-links">
                    <li *ngFor="let option of socialNavItems" class="list-inline">
                      <a href="{{ option.href }}" [innerHTML]="option.icon"></a>
                    </li>
                  </ul>
                </app-footer-logo>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
                <app-footer-links title="Menu" color="white mb-4" [content]="footerHome"></app-footer-links>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
                <app-footer-address [addressContent]="footerText" addressColor="white mb-4"></app-footer-address>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-20">
                <h4 class="mb-4">Get Started</h4>
                <form class="subscribe-form">
                  <input type="email" name="email" class="form-control subscription-email " placeholder="Email">
                  <a href="#" class="button">Sign Up</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row iq-mt-20 align-items-center">
        <div class="col-md-5 col-lg-4 col-sm-12">
          <ul class="links text-md-left">
            <li class="list-inline"><a href="#">sofbox Terms</a></li>
            <li class="list-inline"><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-12 iq-font-dark text-md-right">
          <div class="" [innerHTML]="footerTextBottom">© 2018 sofbox Developed by <b>iqonicthemes</b>.</div>
        </div>
      </div>
    </div>
</app-footer-main>
