/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.w100{
    width: 100% !important;
}

.h100{
    height: 100% !important;
}

.w50{
    width: 50% !important;
}

.h50{
    height: 50% !important;
}

.fcenter{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
}

.pointer{
    cursor: pointer;
}

