<!-- Loader component-->
<app-loader></app-loader>
<!-- Header component start-->
<app-header-style1 logoImg="./assets/images/logo.png" [navItemList]="navItems" [styledLogo]="false">
  <a href="https://crm.thomas-talk.me/" class="button bt-black pull-right" navContent>{{Prefijo + 'Acceder' | translate }}</a>
  <!--<a class="btn btn-primary-outline  dropdown-toggle" navContent>
    <ul>
      <li> <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b282a.png" alt="flag languaje" width="40">
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item"><img src="https://image.flaticon.com/icons/png/512/323/323310.png" alt="Ingles" width="30"></a>
          <a href="#" class="dropdown-item"><img src="https://img2.freepng.es/20180529/htp/kisspng-socime-ii-produtos-mdicos-lda-flag-of-portuga-portugal-5b0db87acd0560.1899478715276258508398.jpg" alt="Portugues" width="30"></a>
        </div>
      </li>
    </ul>
  </a>  -->
</app-header-style1>
<!-- Home section start-->

<!-- Main Content -->
<div class="main-content">
  <app-home></app-home>
  <!-- Home section end-->
  <!-- About section start-->
  <app-about></app-about>
  <!-- About section end-->
  <!-- Features section start-->
  <app-feature></app-feature>
  <!-- Features section end-->
  <!-- Service section start-->
  <app-service></app-service>
  <!-- Service section end-->
  <!-- Client section start-->
  <app-client></app-client>
  <!-- Client section end-->
  <!-- Pricing section start-->
  <app-pricing></app-pricing>
  <!-- Pricing section end-->
  <!-- FAQ section start-->
  <app-faq></app-faq>
  <!-- FAQ section end-->
  <!-- Get in touch section start-->
  <app-get-in-touch></app-get-in-touch>
  <!-- Get in touch section end-->
  <!-- Footer section start-->
  <app-footer></app-footer>
  <!-- Footer section end-->
</div>

<!-- Scroll top component start-->
<app-scroll-top></app-scroll-top>
<!-- Scroll top component end-->
<!-- Color customizer component start-->
<app-color-customizer></app-color-customizer>
<!-- Color customizer component end-->

