<div id="loading">
    <div id="loading-center">
        <img src="./assets/sofbox-v2/images/loader.gif" alt="loader">
    </div>
</div>
<!-- Header Component Start-->
<app-v-two-header-style1 [logoImg]="navLogo" [navItemList]="navItems">
    <li button class="button-btn list-inline-item">
        <nav aria-label="breadcrumb">
            <div class="blue-btn button"><a href="#">Get Started</a></div>
        </nav>
    </li>
</app-v-two-header-style1>
<!-- Header Component End-->
<app-v-two-banner-style1 title="Left Sidebar Grid">
    <div bannerLinks>
        <ol class="breadcrumb main-bg">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home mr-1" aria-hidden="true"></i>Home</a></li>
            <li class="breadcrumb-item active">Left Sidebar Grid</li>
        </ol>
    </div>
</app-v-two-banner-style1>
<!-- Main Content -->
<div class="main-content">
    <section>
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-8 col-sm-12">
                    <app-v-two-blog-card [blogList]="blogList"></app-v-two-blog-card>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination justify-content-center">
                                <nav aria-label="Page navigation">
                                    <ul class="page-numbers justify-content-center">
                                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                                        <li><a class="page-numbers" href="#">2</a></li>
                                        <li><a class="next page-numbers" href="#"><span aria-hidden="true">Next page</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 sidebar-service-right mt-5 mt-lg-0">
                    <app-v-two-blog-sidebar [recentPostList]="recentPostList" [categoryList]="categoryList"></app-v-two-blog-sidebar>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Main Content END -->
<app-v-two-footer-style2 [footerLogo]="footerLogo" [footerText]="footerText" [footerTitle]="footerTitle" [footerDescription]="footerDescription">
    <ul menu>
        <li><a class="text-white" href="javascript:void(0)">About Us</a></li>
        <li><a class="text-white" href="javascript:void(0)">Theme</a></li>
        <li><a class="text-white" href="javascript:void(0)">Features</a></li>
        <li><a class="text-white" href="javascript:void(0)">Pricing</a></li>
        <li><a class="text-white" href="javascript:void(0)">Blog</a></li>
    </ul>
    <ul about_us>
        <li><a class="text-white" href="javascript:void(0)">About sofbox</a></li>
        <li><a class="text-white" href="javascript:void(0)">Roadmap</a></li>
        <li><a class="text-white" href="javascript:void(0)">How it Work</a></li>
        <li><a class="text-white" href="javascript:void(0)">Team</a></li>
        <li><a class="text-white" href="javascript:void(0)">News</a></li>
    </ul>
    <div testimonial>
        <app-v-two-testimonial-carousel [testimonialList]="List"></app-v-two-testimonial-carousel>
    </div>
</app-v-two-footer-style2>