<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo32.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Almost there!</div>
            <div class="mt-0.5">
                Do you want to be notified when we are ready? Register below so we can notify you about the launch!
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Coming soon form -->
            <form
                class="mt-8"
                [formGroup]="comingSoonForm"
                #comingSoonNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>E-mail</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="comingSoonForm.get('email').hasError('required')">
                        E-mail is required
                    </mat-error>
                    <mat-error *ngIf="comingSoonForm.get('email').hasError('email')">
                        Please enter a valid E-mail
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-3"
                    mat-flat-button
                    type="button"
                    [color]="'primary'"
                    [disabled]="comingSoonForm.disabled"
                    (click)="register()">
                    <span *ngIf="!comingSoonForm.disabled">
                        Notify me when you launch
                    </span>
                    <mat-progress-spinner
                        *ngIf="comingSoonForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Form footer -->
                <div class="mt-8 text-md font-medium text-secondary">
                    This isn't a newsletter subscription. We will send one email to you when
                    we launch and then you will be removed from the list.
                </div>

            </form>
        </div>
    </div>
</div>
