
@media print {
  .opcHidden
  {
    visibility: hidden;
  }

  .printRef {
    max-width: 100% !important;
    flex: 0 0 100%;
  }
}

.inset-00{
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;

}
