<div style="display:flex; flex-direction: column; overflow:hidden " cdkScrollable>

    <!--     Falta meter responsive de este mat-card para pantallas small -->
    <div class="inline-block text-left print:p-0 opcHidden">
        <mat-card>
            <mat-card-actions style="display:flex; flex-direction:row; justify-content: center;">
                <button mat-button color="primary">Send Invoice</button>
                <button mat-button>Download</button>
                <button mat-button (click)="next()">Next</button>
                <button mat-button (click)="Previous()">Previous</button>
                <button mat-button (click)="saveInvoice()">Save</button>
                <button mat-button (click)="goBack(true)">Back</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="inset-00 min-w-0 text-center print" cdkScrollable>


        <!-- Main -->
        <div class="inline-block p-6 sm:p-10 text-left print:p-0">

            <!--! Invoice 1 -->
            <div class="w-240 min-w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent"
                *ngIf="ShowInvoice[0]">

                <div class="flex items-start">
                    <div class="grid grid-rows-2 place-items-start gap-y-12">
                        <div class="grid auto-cols-max grid-flow-col gap-x-8">
                            <div class="place-self-center w-24">
                                <img class="w-24" [src]="empresa.logo">
                            </div>
                            <div class="pl-10 border-l text-md">
                                <div class="font-medium">{{factura.header.empresa.name}}</div>
                                <div>{{factura.header.empresa.address1}}</div>
                                <div>{{factura.header.empresa.address2}}</div>
                                <div>{{factura.header.empresa.phone}}</div>
                                <div>{{factura.header.empresa.email}}</div>
                                <div>{{factura.header.empresa.pag}}</div>
                            </div>
                        </div>
                        <div class="grid auto-cols-max grid-flow-col gap-x-8">
                            <div class="place-self-center w-24 text-center text-2xl text-secondary">
                                Bill To
                            </div>
                            <div class="pl-10 border-l text-md">
                                <div class="font-medium">
                                    <ng-container *ngIf="!showBill" >
                                    <mat-form-field  class="fuse-mat-no-subscript w-full" style="width:250px !important">
                                        <mat-select [(ngModel)]="bill.name" (ngModelChange)="CheckBill(bill)">
                                            <ng-container *ngFor="let cliente of allBills; trackBy: trackByFn">
                                                <mat-option [value]="cliente.name">{{cliente.name}}</mat-option>
                                            </ng-container>
                                        </mat-select>
                                    </mat-form-field>
                                    </ng-container>
                                    <!--{{bill.name}}-->
                                <div class="pointer" *ngIf="showBill" (click)="showBill=false">{{factura.header.bill.name}}</div>
                                </div>
                                <div>{{factura.header.bill.address1}}</div>
                                <div>{{factura.header.bill.phone}}</div>
                                <div>{{factura.header.bill.email}}</div>

                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-x-4 gap-y-1 ml-auto">
                        <div class="justify-self-end text-4xl tracking-tight text-secondary">INVOICE</div>
                        <div class="text-4xl flex">
                            #<input type="text" [(ngModel)]="factura.header.info.fact_number">
                        </div>
                        <div class="justify-self-end font-medium tracking-tight text-secondary">INVOICE DATE</div>
                        <div class="font-medium">
                            <input type="date" [(ngModel)]="factura.header.info.Date">
                        </div>
                        <div class="justify-self-end font-medium tracking-tight text-secondary">DUE DATE</div>
                        <div class="font-medium">
                            <input type="date" [(ngModel)]="factura.header.info.DueDate">
                        </div>
                        <div class="justify-self-end font-medium tracking-tight text-secondary">TOTAL DUE</div>
                        <div class="font-medium">${{factura.footer.total}}</div>
                    </div>
                </div>

                <div class="grid grid-cols-12 gap-x-1 mt-16">
                    <!-- Columns -->
                    <div class="col-span-8 font-medium text-md text-secondary"
                        style="display: flex; align-items: center;">
                        <mat-icon class="pointer" svgIcon="heroicons_outline:plus-circle" (click)="newItem()">
                        </mat-icon>
                        SERVICE
                    </div>
                    <div class="font-medium text-md text-right text-secondary">RATE</div>
                    <div class="font-medium text-md text-right text-secondary">QTY</div>
                    <div class="col-span-2 font-medium text-md text-right text-secondary">TOTAL</div>

                    <!-- Divider -->
                    <div class="col-span-12 my-4 border-b"></div>

                    <!-- Item -->
                    <ng-container *ngFor="let item of factura.content.services; let i=index">

                        <div class="col-span-8" style="margin:5px">
                            <div class="text-lg font-medium" *ngIf="!showService[i]">
                                <!--                         {{item.service}} -->
                                <mat-icon class="pointer" svgIcon="heroicons_outline:minus-circle"
                                    (click)="deleteItem(i)"></mat-icon>
                                <mat-form-field class="fuse-mat-no-subscript w-full">
                                    <mat-select [(ngModel)]="item.service" (ngModelChange)="checkService(item,i)">
                                        <ng-container *ngFor="let ser of services; trackBy: trackByFn">
                                            <mat-option [value]="ser.service" (click)="showService[i]=true">{{ser.service}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                            <div class="mt-2 text-md text-secondary">
                                <mat-form-field class="fuse-mat-no-subscript w-full" *ngIf="!showService[i]">
                                    <!--                             <mat-label>Description</mat-label> -->
                                    <!--                             <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon> -->
                                    <textarea matInput [placeholder]="'Description'" [spellcheck]="false"
                                        [(ngModel)]="item.description">
                            </textarea>
                                </mat-form-field>

                                <div class="col-span-8" style="margin:5px ;" *ngIf="showService[i]" (click)="showService[i]=false">
                                    <div class="text-lg font-medium">{{item.service}}</div>
                                        <div class="mt-2 text-md text-secondary">
                                            {{item.description}}
                                        </div>
                                </div>
                            </div>


                        </div>
                        <div class="self-center text-right">
                            <!--Price-->
                            ${{item.price}}
                        </div>
                        <div class="self-center text-right">
                            <!--QTY-->
                            <!--                             <mat-label>Description</mat-label> -->
                            <!--                             <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"></mat-icon> -->
                            <input matInput [placeholder]="'Qty'" type="number" [(ngModel)]="item.qty">

                        </div>
                        <div class="col-span-2 self-center text-right">
                            <!--Total-->
                            ${{item.price*item.qty}}
                        </div>
                    </ng-container>

                    <!-- Spacer -->
                    <div class="col-span-12 mt-16"></div>

                    <!-- Subtotal -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">${{factura.footer.subTotal?factura.footer.subTotal:0}}
                        <!--<button (click)="sumSubtotal()">Calculate</button>-->
                    </div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Tax -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                        style="margin-bottom:3%">
                        <mat-icon class="pointer" svgIcon="heroicons_outline:plus-circle" (click)="newTax()"></mat-icon>
                        TAXES
                    </div>
                    <ng-container *ngFor="let tax of taxes ; let i=index">
                        <div *ngIf="!showTax[i]" class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 2%">
                            <mat-icon class="pointer" svgIcon="heroicons_outline:minus-circle" (click)="deleteTax(i)">
                            </mat-icon>
                            <mat-form-field class="fuse-mat-no-subscript w-full" style="width: 50% !important">
                                <mat-select [(ngModel)]="tax.name" (ngModelChange)="checkTax(tax,i)">
                                    <ng-container *ngFor="let tax of taxesContent; trackBy: trackByFn">
                                        <mat-option [value]="tax.name" (click)="showTax[i]=true" >{{tax.name}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div (click)="showTax[i]=false" *ngIf="showTax[i]" class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 1%">
                           {{tax.name}}
                        </div>

                        <div class="col-span-2 text-right text-lg">${{tax.amount}}
                            <!--[><button (click)="sumTaxes()">Calculate</button><]-->
                        </div>
                        <!-- Subtotal -->
                    </ng-container>
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">
                        ${{factura.footer.taxTotal?factura.footer.taxTotal:0}}
                        <!--<button (click)="sumTaxes()">Calculate</button>-->
                    </div>
                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Discount -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                        style="margin-bottom:3%">
                        <mat-icon class="pointer" svgIcon="heroicons_outline:plus-circle" (click)="newDisc()">
                        </mat-icon>
                        DISCOUNT
                    </div>
                    <ng-container *ngFor="let disc of discounts ; let i=index">
                        <div *ngIf="!showDiscount[i]" class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 2%">
                            <mat-icon class="pointer" svgIcon="heroicons_outline:minus-circle" (click)="deleteDisc(i)">
                            </mat-icon>
                            <mat-form-field class="fuse-mat-no-subscript w-full" style="width: 50% !important">
                                <mat-select [(ngModel)]="disc.name" (ngModelChange)="checkDisc(disc,i)">
                                    <ng-container *ngFor="let disc of discountsContent">
                                        <mat-option [value]="disc.name" (click)="showDiscount[i]=true">{{disc.name}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div (click)="showDiscount[i]=false" *ngIf="showDiscount[i]" class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 1%">
                            {{disc.name}}
                        </div>

                        <div class="col-span-2 text-right text-lg">${{disc.amount}}</div>
                    </ng-container>
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">
                        $-{{factura.footer.discountTotal?factura.footer.discountTotal:0}}
                        <!--<button (click)="sumDiscount()">Calculate</button>-->
                    </div>
                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Total -->
                    <div class="col-span-10 self-center text-2xl font-medium tracking-tight text-secondary">TOTAL</div>
                    <div class="col-span-2 text-right text-2xl font-medium">
                        ${{factura.footer.total}}
                        <button (click)="getTotal()">Calculate</button>
                    </div>
                </div>

                <div class="mt-16">
                    <div class="font-medium">
                        <input [(ngModel)]="factura.footer.Message" class="w-full">
                    </div>
                    <div class="flex items-start mt-4">
                        <img class="flex-0 w-10 mt-2" src="assets/images/logo/logo32.png">
                        <div class="ml-6 text-sm text-secondary">
                            {{factura.footer.AdditionalInfo}}
                        </div>
                    </div>
                </div>

            </div>
            <!--!End Invoice-->

            <!--!Invoice 2-->
            <div class="w-240 min-w-240 p-16 rounded-2xl shadow bg-card print:w-auto print:p-0 print:rounded-none print:shadow-none print:bg-transparent"
                *ngIf="ShowInvoice[1]">

                <!-- Invoice -->

                <div class="flex items-start justify-between">
                    <div class="grid grid-cols-2 gap-x-4 gap-y-1">
                        <div class="text-4xl tracking-tight text-secondary">INVOICE</div>
                        <div class="text-4xl flex">
                            #<input type="text" [(ngModel)]="factura.header.info.fact_number">
                        </div>
                        <div class="justify-self-end font-medium tracking-tight text-secondary">INVOICE DATE</div>
                        <div class="font-medium">
                            <input type="date" [(ngModel)]="factura.header.info.Date">
                        </div>
                        <div class="justify-self-end font-medium tracking-tight text-secondary">DUE DATE</div>
                        <div class="font-medium">
                            <input type="date" [(ngModel)]="factura.header.info.DueDate">
                        </div>
                        <div class="justify-self-end font-medium tracking-tight text-secondary">TOTAL DUE</div>
                        <div class="font-medium">${{factura.footer.total}}</div>
                    </div>
                    <div class="grid auto-cols-max grid-flow-col gap-x-8 -mr-16 py-6 px-8 rounded-l-2xl bg-accent dark">
                        <div class="place-self-center w-24">
                            <img class="w-24" [src]="empresa.logo">
                        </div>
                        <div class="pl-10 border-l text-md">
                            <div class="font-medium">{{empresa.name}}</div>
                            <div>{{empresa.address1}}</div>
                            <div>{{empresa.address2}}</div>
                            <div>{{empresa.phone}}</div>
                            <div>{{empresa.email}}</div>
                            <div>{{empresa.pag}}</div>
                        </div>
                    </div>
                </div>

                <div class="text-md">
                    <ng-container *ngIf="!showBill" >
                    <mat-form-field  class="fuse-mat-no-subscript w-full" style="width:250px !important">
                        <mat-select [(ngModel)]="bill.name" (ngModelChange)="CheckBill(bill)">
                            <ng-container *ngFor="let cliente of allBills; trackBy: trackByFn">
                                <mat-option [value]="cliente.name">{{cliente.name}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    </ng-container>
                    <div class="font-medium">
                        <div class="pointer" *ngIf="showBill" (click)="showBill=false">{{factura.header.bill.name}}</div>
                    </div>
                        <div>{{factura.header.bill.address1}}</div>
                        <div>{{factura.header.bill.phone}}</div>
                        <div>{{factura.header.bill.email}}</div>
                </div>

                <div class="grid grid-cols-12 gap-x-1 mt-12">
                    <!-- Columns -->
                    <div class="col-span-8 font-medium text-md text-secondary">
                        <mat-icon class="pointer" svgIcon="heroicons_outline:plus-circle" (click)="newItem()">
                        </mat-icon>
                        SERVICE
                    </div>
                    <div class="font-medium text-md text-right text-secondary">RATE</div>
                    <div class="font-medium text-md text-right text-secondary">QTY</div>
                    <div class="col-span-2 font-medium text-md text-right text-secondary">TOTAL</div>

                    <!-- Divider -->
                    <div class="col-span-12 my-4 border-b"></div>

                    <!-- Item -->
                    <ng-container *ngFor="let item of items; let i=index">

                        <div class="col-span-8" style="margin:5px">
                            <div class="text-lg font-medium" *ngIf="!showService[i]">
                                <mat-icon class="pointer" svgIcon="heroicons_outline:minus-circle"
                                    (click)="deleteItem(i)"></mat-icon>
                                <mat-form-field class="fuse-mat-no-subscript w-full col-span-8 text-lg font-medium"
                                    style="width:70% !important">
                                    <mat-select [(ngModel)]="item.service" (ngModelChange)="checkService(item)">
                                        <ng-container *ngFor="let ser of services; trackBy: trackByFn">

                                            <mat-option [value]="ser.service">{{ser.service}}</mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                                <div class="col-span-8" style="margin:5px ;" *ngIf="showService[i]" (click)="showService[i]=false">
                                    <div class="text-lg font-medium">{{item.service}}</div>
                                        <div class="mt-2 text-md text-secondary">
                                            {{item.description}}
                                        </div>
                                </div>

                        </div>
                        <div class="self-center text-right">${{item.price}}</div>
                        <div class="self-center text-right">
                            <input matInput [placeholder]="'Qty'" type="number" [(ngModel)]="item.qty">
                        </div>
                        <div class="col-span-2 self-center text-right">${{item.price * item.qty}}</div>
                        <!-- Divider -->
                        <div class="col-span-12 my-4 border-b"></div>
                    </ng-container>

                    <!-- Spacer -->
                    <div class="col-span-12 mt-16"></div>

                    <!-- Subtotal -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">${{factura.footer.subTotal?factura.footer.subTotal:0}}
                    </div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Tax -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                        style="margin-bottom:3%">
                        <mat-icon class="pointer" svgIcon="heroicons_outline:plus-circle" (click)="newTax()"></mat-icon>
                        TAXES
                    </div>
                    <ng-container *ngFor="let tax of taxes ; let i=index">
                        <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 2%">
                            <mat-icon class="pointer" svgIcon="heroicons_outline:minus-circle" (click)="deleteTax(i)">
                            </mat-icon>
                            <mat-form-field class="fuse-mat-no-subscript w-full" style="width: 50% !important">
                                <mat-select [(ngModel)]="tax.name" (ngModelChange)="checkTax(tax)">
                                    <ng-container *ngFor="let tax of taxesContent; trackBy: trackByFn">
                                        <mat-option [value]="tax.name">{{tax.name}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-span-2 text-right text-lg">${{tax.amount}}
                            <!--[><button (click)="sumTaxes()">Calculate</button><]-->
                        </div>
                        <!-- Subtotal -->
                    </ng-container>
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">
                        ${{factura.footer.taxTotal?factura.footer.taxTotal:0}}
                        <!--<button (click)="sumTaxes()">Calculate</button>-->
                    </div>
                    <!--<div class="col-span-2 text-right text-lg">$11,365.75</div>-->

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Discount -->
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                        style="margin-bottom:3%;">
                        <mat-icon class="pointer" svgIcon="heroicons_outline:plus-circle" (click)="newDisc()">
                        </mat-icon>
                        DISCOUNT
                    </div>
                    <ng-container *ngFor="let disc of discounts ; let i=index">
                        <div class="col-span-10 self-center font-medium tracking-tight text-secondary"
                            style="margin-bottom: 2%">
                            <mat-icon class="pointer" svgIcon="heroicons_outline:minus-circle" (click)="deleteDisc(i)">
                            </mat-icon>
                            <mat-form-field class="fuse-mat-no-subscript w-full" style="width: 50% !important">
                                <mat-select [(ngModel)]="disc.name" (ngModelChange)="checkDisc(disc)">
                                    <ng-container *ngFor="let disc of discountsContent">
                                        <mat-option [value]="disc.name">{{disc.name}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-span-2 text-right text-lg">${{disc.amount}}</div>
                    </ng-container>
                    <div class="col-span-10 self-center font-medium tracking-tight text-secondary">SUBTOTAL</div>
                    <div class="col-span-2 text-right text-lg">
                        $-{{factura.footer.discountTotal?factura.footer.discountTotal:0}}
                        <!--<button (click)="sumDiscount()">Calculate</button>-->
                    </div>

                    <!-- Divider -->
                    <div class="col-span-12 my-3 border-b"></div>

                    <!-- Total -->
                    <div class="col-span-10 self-center text-2xl font-medium tracking-tight text-secondary">TOTAL</div>
                    <div class="col-span-2 text-right text-2xl font-medium">
                        ${{factura.footer.total}}
                        <button (click)="getTotal()">Calculate</button>
                    </div>
                </div>

                <div class="mt-16">
                    <div class="font-medium">
                        <input [(ngModel)]="factura.footer.Message" class="w-full">
                    </div>
                    <div class="flex items-start mt-4">
                        <img class="flex-0 w-10 mt-2" src="assets/images/logo/logo32.png">
                        <div class="ml-6 text-sm text-secondary">
                            {{factura.footer.AdditionalInfo}}
                        </div>
                    </div>
                </div>


            </div>
            <!--!End Invoice 2-->
        </div>

    </div>


</div>
