<div class="header color" *ngIf="title != ''">
  <h4>{{ title }}</h4>
</div>

<!-- Aqui empieza el form -->
<section>
  <!--       <form id="form"> -->
  <div class="row form">
    <!--Aqui va el bind con el json para setear el form -->
    <div class="col-md-12" style="margin-top: 10%;">
      <ng-container *ngIf="AvatarShow">
        <div class="fcenter" style="padding: 5%;">
          <!--             <img
                class="w-full h-full "
                [src]="avatar || 'assets/images/avatars/profile.jpg'"> -->

          <div class="flex flex-auto fcenter">
            <div
              class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
              <!-- Upload / Remove avatar -->
              <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
              <div class="absolute inset-0 flex items-center justify-center z-20">
                <div>
                  <input id="avatar-file-input" class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                    type="file" [multiple]="false" (change)="uploadFile($event)" #avatarFileInput>
                  <label class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                    for="avatar-file-input" matRipple>
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                  </label>
                </div>
                <div *ngIf="avatar != ''">
                  <button mat-icon-button (click)="avatar=''">
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                  </button>
                </div>
              </div>
              <!-- Image/Letter -->
              <div>
                <img class="object-cover w-full h-full" [src]="avatar | audiof">
              </div>
              <!--                             <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                *ngIf="!avatar">
                                {{contact.name.charAt(0)}}
                            </div> -->
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="col-md-12" *ngFor="let control of dynamicFormArray">
      <div [ngSwitch]="control.Type">

        <div *ngSwitchCase="'input'">
          <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%;">
            <mat-label>{{control.Label}}</mat-label>
            <input matInput [(ngModel)]="control.Value" type="text" [placeholder]="control.Label" class="form-control"
              [required]="control.Required" />
            <!--                <mat-error *ngIf="form.controls.nombre.errors?.required">
                                    El nombre es <strong>requerido</strong>
                                  </mat-error>
                                  <mat-error *ngIf="form.controls.nombre.hasError('minlength')">
                                    El nombre debe ser de al menos <strong>3 caracteres</strong>
                                  </mat-error> -->
          </mat-form-field>
        </div>

        <div *ngSwitchCase="'text'">
          <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%;">
            <mat-label>{{control.Label}}</mat-label>
            <input matInput [(ngModel)]="control.Value" type="text" [placeholder]="control.Label" class="form-control"
              [required]="control.Required" />
            <!--                <mat-error *ngIf="form.controls.nombre.errors?.required">
                                    El nombre es <strong>requerido</strong>
                                  </mat-error>
                                  <mat-error *ngIf="form.controls.nombre.hasError('minlength')">
                                    El nombre debe ser de al menos <strong>3 caracteres</strong>
                                  </mat-error> -->
          </mat-form-field>
        </div>

        <div *ngSwitchCase="'email'">         
          <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%;">
            <mat-label>{{control.Label}}</mat-label>
            <input matInput [(ngModel)]="control.Value" type="email" [placeholder]="control.Label" class="form-control"
              [required]="control.Required" />
            <!--                <mat-error *ngIf="form.controls.nombre.errors?.required">
                                    El nombre es <strong>requerido</strong>
                                  </mat-error>
                                  <mat-error *ngIf="form.controls.nombre.hasError('minlength')">
                                    El nombre debe ser de al menos <strong>3 caracteres</strong>
                                  </mat-error> -->
          </mat-form-field>
        </div>


        <div *ngSwitchCase="'number'">
          <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%;">
            <mat-label>{{control.Label}}</mat-label>
            <input matInput [(ngModel)]="control.Value" type="number" [placeholder]="control.Label" class="form-control"
              [required]="control.Required" />
            <!--                <mat-error *ngIf="form.controls.nombre.errors?.required">
                                    El nombre es <strong>requerido</strong>
                                  </mat-error>
                                  <mat-error *ngIf="form.controls.nombre.hasError('minlength')">
                                    El nombre debe ser de al menos <strong>3 caracteres</strong>
                                  </mat-error> -->
          </mat-form-field>
        </div>


        <div *ngSwitchCase="'area'">
          <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%;">
            <mat-label>{{control.Label}}</mat-label>
            <textarea [(ngModel)]="control.Value" matInput type="text" [placeholder]="control.Label"
              class="form-control" [required]="control.Required"></textarea>
            <!--                <mat-error *ngIf="form.controls.nombre.errors?.required">
                                    El nombre es <strong>requerido</strong>
                                  </mat-error>
                                  <mat-error *ngIf="form.controls.nombre.hasError('minlength')">
                                    El nombre debe ser de al menos <strong>3 caracteres</strong>
                                  </mat-error> -->
          </mat-form-field>
        </div>

        <div *ngSwitchCase="'date'">
          <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%;">
            <mat-label>{{control.Label}}</mat-label>
            <input [(ngModel)]="control.Data" matInput type="date" [placeholder]="control.Label" class="form-control"
              [required]="control.Required" />
            <!--                <mat-error *ngIf="form.controls.nombre.errors?.required">
                                    El nombre es <strong>requerido</strong>
                                  </mat-error>
                                  <mat-error *ngIf="form.controls.nombre.hasError('minlength')">
                                    El nombre debe ser de al menos <strong>3 caracteres</strong>
                                  </mat-error> -->
          </mat-form-field>
        </div>

        <div *ngSwitchCase="'radio'">
          <!--                                 <label class="radio" *ngFor="let val of control.value.split(',')">
                                  <input matInput type="radio" name={{control.ID}} value="{{val}}l" class="form-control" /> {{val}}
                                </label> -->

          <mat-radio-group aria-label="Select an option" [(ngModel)]="control.Value" [required]="control.Required">
            <mat-radio-button *ngFor="let val of control.Data.split(',')" value="{{val}}"> {{val}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div *ngSwitchCase="'select'">
          <mat-form-field appearance="outline" floatLabel="always" style="width: 80%; margin-left: 10%;">
            <mat-label>{{control.Label}}</mat-label>
            <mat-select multiple placeholder="Seleccione..." [(ngModel)]="control.Value" [required]="control.Required">
              <mat-option value="-1"> Seleccione</mat-option>
              <mat-option *ngFor="let val of control.Data.split('/')" value="{{val}}"> {{val}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- Aqui va el bind con el json para setear el form -->




    <!-- Aqui va el bind con el json para setear el form -->
  </div>
  <!--       </form> -->
</section>

<div class="flex" style="justify-content: flex-end;">
  <button mat-raised-button class="w100-button " color="primary" (click)="clg()"> {{accion}} </button>

</div>