/*

Template: sofbox
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in


*/
@media (min-width:576px) {
	.container { max-width: 540px }
}


@media (min-width:768px) {
	.container { max-width: 720px }
}


@media (min-width:992px) {
	.container { max-width: 960px }
}


@media (min-width:1200px) {
	.container { max-width: 1140px; }
}


@media (min-width:1400px) {
	.container { max-width: 1366px; }

}


@media(max-width:1920px) {
	.iq-oneclick { overflow: hidden; }
}


@media(max-width:1601px) {
	.iq-oneclick { overflow: hidden; }
}




@media(max-width:1399px) {
	.owl-carousel .owl-item .blog-images img { max-width: 184%; height: 216px; }
	.blog-images { margin-right: 50px; }
	.mac-pc { width: 410px; left: 43%; }
	.element4 {     top: -250px !important; }
	.element5 {     top: -150px !important; }
	.element6 {     top: -65px !important; }
	.element8 {     top: -100px !important; }
	.element9 { top: 120px !important; }
	.element8 {     top: -100px !important; }
	.element11 { top: -150px !important; }
	.element10{     top: 30px !important; }
	#demos .container-fluid { padding:0 50px; }
}
@media(max-width:1365px) { }
@media(max-width:1339px) { }
@media(max-width:1199px) {
	header .container-fluid { padding: 0 50px }
	header.menu-sticky .container-fluid { padding: 0 50px }
	.element5 { top: -235px !important; }
	.iq-visual { padding: 100px 0; }
	.owl-carousel .owl-item .blog-images img { max-width: 282%; height: 159px; }
	.blog-images { margin-right: 80px; }
	.mac-pc { width: 299px; left: 43%; }
	.element5, .element6 { display: none !important; }
	h2 { font-size: 30px; }
	.iq-oneclick {     padding: 100px 0; }
	.element15 {     top: -230px !important; }
	.element17 {     top: 70px !important; }
	#demos .homepage-block{padding: 0;}
}
@media(max-width:992px) {
	.isotope-filters-fixed{margin-bottom: 30px;}
	section { padding: 80px 0; }
	.element8 {
    top: 0px !important;
    position: inherit !important;
    right: 0 !important;
}
#rev_slider_87_1_wrapper{padding-top: 80px !important;}
.element8 img{ width: 100%; }
.iq-visual .title-box{padding-top: 0;}
	.core-features .container-fluid{padding: 0 15px;}
	.overview-block-ptb { padding: 80px 0; }
	.overview-block-pt { padding: 80px 0 0 0; }
	.overview-block-pb { padding: 0 0 80px 0; }
	.iq-rmt-50 { margin-top: 50px; }
	.mobile { margin-top: 100px; }
	.iq-rmb-30 { margin-bottom: 0 !important; }
	header	.btn-purchase { text-align: left; }
	header .navbar-collapse { background: rgb(255, 255, 255); padding: 10px 15px; }
	header .navbar-light .navbar-nav .nav-link.active { color: #ffffff;  padding: 10px 0px 10px 0px; }
	header	.btn-purchase { display: none; }
	.iq-retina{padding: 100px 0 50px 0;}
	.element1 { top: 265px !important; }
	.element2 { top: 385px !important; }
	.element3 { top: 700px !important; }
	.element5 { top: -561px !important; left: -18% !important; }
	.element4 { top: -120px !important; left: auto !important; right: 0; }
	.element6 { top: -202px !important; }
	.element7 { top: -230px !important; }
	.iq-oneclick { padding: 0px 0 100px; }
	.element17 {     right: 250px; }
	.iq-visual { padding: 300px 0 100px; }

	.element9 { top: -300px !important; }
	.element10 { top: -300px !important; }
	.element11 { top: -500px !important; }
	.owl-carousel .owl-item .blog-images img { max-width: 45%; height: 225px; }
	.blog-images { margin-right: 0px; }
	.mac-pc { width: 476px; left: 38%; }
	.owl-carousel .owl-dots { margin-top: 70px; }
	.iq-banner .iq-banner-info { padding: 300px 30px 200px; }
	.iq-retina .title-box { margin-top: 50px; }

	.iq-oneclick .title-box {     margin-top: 0px; }
	#demos .tab-content .col-lg-4.col-md-12.mt-5{margin-top: 0 !important;}
	#demos .homepage-block {margin-top: 40px; }
	.element14 img{width: 100%;}
	.element14{top:0px !important; right: 0; position: relative !important;}

	#demos .container-fluid{padding: 0 15px;}
	 section {
    overflow: hidden;
}
}
@media(max-width:979px) { }
@media(max-width:767px) {
	h2 {
    font-size: 24px;
}
	.element8 {
    top: 0 !important;
    right:0 !important; position: relative !important;
}
	.iq-retina{    padding: 0px 0 50px 0;}
	.iq-oneclick .title-box {
    margin-top: 0px;
}
.element8 img{ width: 100%; }
.iq-visual .title-box {
    padding-top: 50px;
}
.iq-oneclick{padding-top: 0;}
.element17{right: 0;}
	.element2 { top: 180px !important; }
	section { padding: 50px 0; }
	.overview-block-ptb { padding: 50px 0; }
	.overview-block-pt { padding: 50px 0 0 0; }
	.overview-block-pb { padding: 0 0 50px 0; }
	.mobile { margin-top: 0; }
	.tab { width: auto; }
	.iq-objects-style-1::before { width: 100%; }
	.arrow-one { left: 60px; top: 125px; }
	.iq-plugins .price { height: 100px; width: 100px; line-height: 100px; }
	.blog-img { left: 0; }
	.plugin-img { right: 0; }
	.scrolling-text { font-size: 42px; line-height: 52px; left: 15px; }
	.desktop { margin-top: 50px; }
	header { padding: 5px 0; }
	header.menu-sticky { padding: 3px 0; }
	#purchase h1 { font-size: 30px; line-height: 40px; }
	.container-fluid { padding: 0 30px; }
	header.menu-sticky .container-fluid { padding: 0 30px; }
	header .container-fluid { padding: 0 30px; }
	.title-box { margin-bottom: 50px; }
	.iq-rmb-48 { margin-bottom: 48px; }
	.iq-mb-80 { margin-bottom: 30px; }
	.iq-mb-0 { margin-bottom: 30px; }
	.mac-pc { left: 51%; }
	.owl-carousel .owl-item .blog-images img { max-width: 75%; height: 225px; }
	.element12 { top: 430px !important; left: -20% !important; }
	.element13 { top: -100px !important; right: -20%; }
	.iq-retina { overflow: hidden; }
}
@media(max-width:543px) {
	#rev_slider_87_1_wrapper{padding-top: 0px !important;}
	.element1 { top: 170px !important; }
	.element2 { top: 100px !important; }
	.owl-carousel .owl-item .blog-images img { max-width: 73%; }
	.blog-images { margin-right: 50px; }
	.mac-pc { left: 53%; width: 430px; }
	.arrow-one, .arrow-two { display: none; }
	.wp-pagebuilder { top: -100px !important; }
	.element12 { left: 0 !important; }
	.element13 { right: 0; }
	.iq-retina { overflow: hidden; }
}
@media(max-width:479px) {
	#slider-87-slide-183-layer-3{right:5px;}
	.iq-banner .iq-banner-info { padding: 150px 30px 150px; }
	#scene img { width: 100px; }
	.iq-banner img { width: 150px; }
	.element1 { top: 40px !important; }
	.element2 { top: 59px !important; left: auto !important; right: 30px; }
	.element3 { top: 530px !important; }
	.element5 { top: -310px !important }
	.element6 { top: -276px !important; }
	.element4 { top: -215px !important; left: auto !important; right: -80px; }
	.element10 { top: -350px !important; }
	.screenshots.owl-carousel { margin: 0; padding: 0 15px; width: 100%; }
	.mac-pc { left: 50%; width: 100%; right: 0; margin: 0 auto; }
	.owl-carousel .owl-dots { margin-top: 30px; }
	.element12 { top: 450px !important; }
	.element13 { top: -72px !important; }
	.blog-images { margin-right: 0; padding: 10px 15px; }
	.owl-carousel .owl-item .blog-images img { max-width: 100%; height: auto; }
	.iq-list li { margin-right: 0; margin-bottom: 15px; }
	.iq-list li:last-child { margin-bottom: 0; }
	.element9 { left: -30px !important; top: -400px !important; }
	.iq-oneclick { padding: 0; }
	.scrolling-text { font-size: 32px; line-height: 42px; }
	header { position: relative; }
}
