/*
Template: sofbox
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in
*/

/*================================================
[  Table of contents  ]
================================================
:: header
:: Demo-page
:: Future Services
:: One Click Import
:: Premium Plugins
:: Responsive Section
:: Clients
======================================
[ End table content ]
======================================*/
body { overflow-x: hidden; }
.text-dark{color: #1e1e1e;}
/*---------------------------------------------------------------------
header
-----------------------------------------------------------------------*/
header { position: absolute; padding: 15px 0px 0px; z-index: 999; display: inline-block; width: 100%; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; }
header a.navbar-brand img { height: 50px; }
header .navbar-light { padding: 0; }
header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .nav-link:focus { color: #313e5b;  font-size: 16px; margin-right: 40px; /*padding: 5px 30px;*/ }
.navbar-light .navbar-nav .show>.nav-link { color: #ffffff; }
header .navbar-light .navbar-nav li.active .nav-link, header .navbar-light .navbar-nav li .nav-link:hover { color: #6d73ef; background: transparent; }
.dropdown-item:active, .dropdown-item:hover { color: #ffffff; background: #6d73ef; }
header .container-fluid { padding: 0 100px; }

/* Header sticky */
header.menu-sticky { background: #ffffff; padding: 12px 0; -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); position: fixed; z-index: 999; }
header.menu-sticky .container-fluid { padding: 0px 100px; }
header.menu-sticky .navbar.navbar-light .navbar-brand img { height: 40px; }
header.menu-sticky .navbar-light .navbar-nav li.active .nav-link, header.menu-sticky .navbar-light .navbar-nav li .nav-link:hover { color: #6d73ef; background: transparent; }
header.menu-sticky .navbar-light .navbar-nav .nav-link, header.menu-sticky .navbar-light .navbar-nav .nav-link:focus { color: #000000; }
.navbar-light .navbar-toggler { color: #6d73ef; border-color: #6d73ef; }

/*---------------------------------------------------------------------
Demo-page
-----------------------------------------------------------------------*/
.home-block {overflow: hidden;
    height: 300px;
 border: 1px solid rgba(111, 115, 239, 0.1); position: relative; margin-bottom: 30px; border-radius: 5px; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; letter-spacing: 1px; overflow: hidden; box-shadow: 0 22px 70px rgba(0, 0, 0, 0.13); top: 0; }
.home-block:hover { top: -10px; }
.home-block .home-title { position: absolute; bottom: -80px; left: 0; display: inline-block; width: 100%; background: linear-gradient(135deg, rgba(109, 115, 239, 1) 0%, rgba(163, 120, 252, 1) 100%) !important; color: #fff; padding: 15px 0; -webkit-transition: all 0.5s ease-out 0s; -moz-transition: all 0.5s ease-out 0s; -ms-transition: all 0.5s ease-out 0s; -o-transition: all 0.5s ease-out 0s; transition: all 0.5s ease-out 0s }
.home-block .home-title a:hover, .home-block .home-title a:focus { color: #fff }
.footer .title { font-weight: 800; color: transparent; font-size: 62px; background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat; background-position: 40% 50%; -webkit-background-clip: text; position: relative; text-align: center; line-height: 90px }
.home-block a { color: #ffffff; width: 100%; display: inline-block }
.homepage-block a:hover { color: #6d73ef !important; }
.homepage-block { position: relative; z-index: 2; }
.iq-retina { position: relative; padding: 100px 0 200px 0; }
.iq-plugins .media .img-box { display: block; text-align: center; line-height: 110px; width: 110px; height: 110px; background: #ffffff; border-radius: 100px; }
.iq-mb-80 { margin-bottom: 80px; }
.iq-plugins .img-box img { background: #ffffff; }
.iq-plugins  ul li { display: inline-block; margin-top: 100px; vertical-align: middle; }
.iq-plugins  ul li.img-box { display: inline-block; text-align: center; line-height: 150px; width: 150px; height: 150px; background: #ffffff; border-radius: 100px; }
.btn-home { position: absolute; bottom: -46px; left: 45%; transform: translate(-50%, -50%); z-index: 1; }
.btn-home a { font-size: 18px; line-height: 30px; }
.iq-innerpages { position: relative; overflow: hidden; }
.nav-tabs { border: none; }
.nav-tabs .nav-item .nav-link { border: none; padding: 10px 30px; border-radius: 4px; color: #6d73ef; }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { color: #ffffff; background: linear-gradient(135deg, rgba(109, 115, 239, 1) 0%, rgba(163, 120, 252, 1) 100%) !important; box-shadow: 0 10px 20px rgba(163, 120, 252, 0.2); }

/*---------------------------------------------------------------------
Premium Plugins
-----------------------------------------------------------------------*/
.iq-plugins { position: relative; overflow: hidden; }
.price.slider { left: 0; top: 0; }
.revslider { top: -100px !important; left: 180px !important; }
.owl-carousel .owl-item .clients-box img { cursor: pointer; width: auto; margin: 0 auto; }
.list-details li span { color: #020d1e; font-size: 16px; font-weight: 600; }
.list-details li { margin-bottom: 10px; }
.list-details li i { color: #6d73ef; }
.screenshots.owl-carousel { width: 120%; margin-left: 15px; padding-left: 72px; }
.mac-pc { position: absolute; left: 40%; pointer-events: none; position: absolute; top: 0; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); width: 455px; z-index: 99; }
.iq-blog { overflow: hidden; }
.owl-carousel .owl-item .blog-images  img { max-width: 125%; width: 340px; height: 237px; border-radius: 15px; }

/* Dots */
.owl-carousel .owl-dots.disabled { display: none; }
.owl-carousel .owl-dots { margin-top: 30px; position: relative; width: 100%; display: inline-block; text-indent: inherit; text-align: center; cursor: pointer; }
.owl-carousel .owl-dots .owl-dot { box-shadow: none; outline: none; background: #ffffff; display: inline-block; padding: 0; margin: 0px 3px; height: 5px; width: 40px; border: 1px solid #ffffff; transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; cursor: pointer; }
.owl-carousel .owl-dots .owl-dot span { display: none; }
.owl-carousel .owl-dots .owl-dot:hover { background: #4cd9ed; border: 1px solid #4cd9ed; }
.owl-carousel .owl-dots .owl-dot.active, .owl-dots .owl-dot.active:nth-child(n+3) { background: #4cd9ed; border: 1px solid #4cd9ed; }
.owl-dots .owl-dot:nth-child(n+4) { display: none; }
.single-image-shadow .owl-carousel .video-img { box-shadow: 1px 12px 15px -5px rgba(0, 0, 0, 0.1); margin: 30px 15px; }

/*---------------------------------------------------------------------
Title
-----------------------------------------------------------------------*/
.title-box { position: relative; z-index: 2; }
.title-box.text-left p { margin-bottom: 0px }
.title-box h2 { margin-bottom: 15px; }
.title-box-space, .title-box.text-left.title-box-space { margin-bottom: 30px; }
.title-box .title-design { font-family: 'Lato', sans-serif; font-weight: normal; color: #6d73ef; display: inline-block; position: relative; text-transform: uppercase; }
.title-box.text-left { margin-bottom: 30px; }
.title-box span.title-design.sub-title { color: #ffffff; }
.title-box.text-white h2 { color: #ffffff; }
.title-box span.title-design.sub-title:before { background: #ffffff; content: ""; }
.title-box.text-center { margin-bottom: 60px; }
.title-box.title-shadow { margin-bottom: 15px; }
.title-box .subtitle { position: relative; }
.title-box span b { background: -webkit-linear-gradient(#6d73ef, #a378fc); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: 700; }
.now-font{font-family: 'Now' !important;}
/*---------------------------------------------------------------------
banner
-----------------------------------------------------------------------*/
.iq-banner { padding: 0; position: relative; overflow: hidden; background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(200, 225, 255) 100%); background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(200, 225, 255) 100%); background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(200, 225, 255) 100%); }
.iq-banner::before { border-radius: 50%; background-color: rgb(255, 255, 255); opacity: 0.4; box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.05); position: absolute; left: 176px; top: 183px; width: 1332px; height: 1313px; content: ""; }
.iq-banner .iq-banner-info { padding: 300px 0 200px; }
.iq-banner .container-fluid { padding: 0; }
.iq-banner .banner-right { position: absolute; left: 0; bottom: 0; }
.element1 { left: 5% !important; top: 150px !important; }
.element2 { left: auto !important; right: 100px; top: 150px !important; }
.element3 { left: auto !important; right: 0px; top: 550px !important; }
.homepage-block  h5{font-family: 'Poppins', sans-serif; font-weight: normal;}
.homepage-block .home-block a img{width:100%;}
/*---------------------------------------------------------------------
Responsive Section
-----------------------------------------------------------------------*/
.iq-oneclick { padding: 200px 0; position: relative; }
.element4 { top: -200px !important; left: auto !important; }
.element5 { left: 470px !important; top: -112px !important; }
.element6 { top: -45px !important; left: auto !important; right: 0px; }
.iq-retina span { color: #6d73ef; font-weight: 600; }
.element7 { right: 0; }
.iq-list { padding: 0; margin: 0; }
.iq-list li { display: inline-block; margin-right: 30px; }
.iq-list li i { margin-right: 10px; color: #6d73ef; font-size: 21px; vertical-align: middle; }
.iq-list li:last-child { margin-right: 0; }
.iq-visual { padding: 200px 0; }
.element8 { top: -100px !important; right: -70px !important; left: auto !important; }
.element9 { left: 0px !important; top: 120px !important; }
.element10 { left: 50px !important; right: 35px; top: 30px !important; }
.element11 { top: -150px !important; right: 0; }
.element14 { top: -160px !important; left: auto !important; right: -250px; }
.element15 { top: -300px !important; }
.element16 { top: 45px !important; left: auto !important; right: 0px; }
.element17 { right: 250px; top: 120px !important; }
.iq-visual { background: none; }
.iq-review img { width: 100%; }
.slider-showcase { position: relative; display: block; height: 664px; background: url(../images/revolution-img.png) repeat 0 0; -webkit-animation: animate 50s linear 0s normal none infinite; -moz-animation: animate 50s linear 0s normal none infinite; -ms-animation: animate 50s linear 0s normal none infinite; -o-animation: animate 50s linear 0s normal none infinite; animation: animate 50s linear 0s normal none infinite; }
@-webkit-keyframes animate {
	from { background-position: 0 0 }
	to { background-position: -1400px 0 }
}
@-moz-keyframes animate {
	from { background-position: 0 0 }
	to { background-position: -1400px 0 }
}
@-ms-keyframes animate {
	from { background-position: 0 0 }
	to { background-position: -1400px 0 }
}
@-o-keyframes animate {
	from { background-position: 0 0 }
	to { background-position: -1400px 0 }
}
@keyframes animate {
	from { background-position: 0 0 }
	to { background-position: -1400px 0 }
}

/*---------------------------------------------------------------------
Footer
-----------------------------------------------------------------------*/
footer { padding: 200px 0 100px; position: relative; overflow: hidden; }
.homepage-block .tag { height: 60px; width: 60px; line-height: 60px; border-radius: 90px; position: absolute; top: -25px; left: -10px; color: #fff; background: #6d73ef; text-align: center; font-weight: bold; font-size: 12px; z-index: 1; }
#demos .homepage-block { margin-top: 50px; display: inline-block; padding: 0 10px; }
.iq-objects-asked { position: absolute; right: 0; top: 0; display: inline-block; width: 100%; height: 100%; }
.iq-objects-asked .iq-objects-01 { position: absolute; bottom: 0; right: 0; }
.iq-objects-asked .iq-objects-02 { position: absolute; bottom: -8%; left: -3%; }

/* 19-09-2019 */
.main-color{ background: -webkit-linear-gradient(#6d73ef, #a378fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.core-features .container-fluid { padding: 0 60px; }
.sox-services { border-radius: 6px; padding: 30px; z-index: 0; text-align: center; box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05); position: relative; min-height: 260px; }
.sox-services i { font-size: 60px; line-height: 60px; color: #a378fc; }
.sox-services p { margin-bottom: 0; }
.sox-services img { width: 60px; }
.shape-1 { position: absolute; right: 0; top: -150px; }
.shape-2 { position: absolute; left: 0; bottom: -150px; background: linear-gradient(135deg, rgba(163, 120, 252, 1) 0%, rgba(109, 115, 239, 1) 100%) !important; height: 500px; width: 500px; border-radius: 100%; }
.shape-3 { position: absolute; right: -100px; top: -100px; }
#demos .container-fluid{padding: 0 60px;}

/*---------------------------------------------------------------------
 isotope-filters
-----------------------------------------------------------------------*/
#demos-isotop .isotope-filters-fixed.menu-sticky { position: fixed; left: 0; right: 0; top: 74px; z-index: 99; margin: 0; opacity: 0; }
#demos-isotop .isotope-filters-fixed.menu-sticky.show { opacity: 1; }
#demos-isotop .isotope-filters-fixed.menu-sticky + .iq-masonry.iq-columns-3 {margin-top: 100px;}
.isotope-filters.isotope-tooltip .more-btn, .isotope-filters.isotope-tooltip button { outline: medium none; cursor: pointer; position: relative; font-weight: 400; padding: 15px 10px; width: 100%; background: transparent; border: none; color: #142c4b; border-right: 1px solid rgba(0,0,0,0.1);}
.isotope-filters.isotope-tooltip > button:first-child{border-left: 1px solid rgba(0,0,0,0.1);}
.isotope-filters.isotope-tooltip button.active { color: #fff; background-color: #a378fc; }
.isotope-filters.isotope-tooltip button span { color: #a378fc; margin-left: 5px; }
.isotope-filters.isotope-tooltip button.active span { color: #ffffff; }
.isotope-filters.isotope-button { display: table; margin: 0 auto 40px; text-align: center; border: 1px solid #f2f2f2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 10px }
.isotope-filters.isotope-button button { margin: 4px; cursor: pointer; padding: 8px 20px; font-size: 16px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: 0 0; color: #666; border: none; font-weight: 400; text-transform: uppercase; transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out }
.isotope-filters.isotope-button button.active, .isotope-filters.isotope-button button:hover { background: #a378fc; color: #fff; -webkit-box-shadow: 0 6px 20px -5px rgba(0, 0, 0, .2); -moz-box-shadow: 0 6px 20px -5px rgba(0, 0, 0, .2); box-shadow: 0 6px 20px -5px rgba(0, 0, 0, .2) }
.isotope-filters.isotope-button button:focus { outline: none; outline-style: none; outline-offset: 0 }
.isotope-filters.isotope-line button { border: none; border-bottom: 2px solid transparent; background: 0 0; color: #666; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin: 0; padding: 10px 30px }
.isotope-filters.isotope-line button.active, .isotope-filters.isotope-line button:hover { border-bottom: 2px solid #a378fc; color: #a378fc }
.isotope-filters.isotope-border button { border: 1px solid transparent; background: 0 0; color: #666; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0 }
.isotope-filters.isotope-border button.active, .isotope-filters.isotope-line button:hover { border: 1px solid #a378fc; color: #a378fc }
.isotope-filters.isotope-dots button { position: relative; color: #777 }
.isotope-filters.isotope-dots button.active, .isotope-filters.isotope-dots button:hover { background: 0 0; box-shadow: none; color: #a378fc }
.isotope-filters.isotope-text button { color: #777 }
.isotope-filters.isotope-text button.active, .isotope-filters.isotope-text button:hover { background: 0 0; box-shadow: none; color: #a378fc }
.iq-masonry-item { padding: 0 15px; width: 33.33%; }
.iq-masonry-item .iq-portfolio-04 { padding: 6px; box-shadow: 0px 8px 60px 12px rgba(35, 38, 43, 0.2); position: relative; }
.more-btn .more-menu {position: absolute;top: 100%;background: #fff;width: 100%;left: 0;right: 0; z-index: 99; border: 1px solid rgba(0,0,0,0.1); opacity: 0;transition: all 0.45s ease 0s;}
.isotope-filters.isotope-tooltip .more-btn:hover .more-menu {opacity: 1;transition: all 0.45s ease 0s;}
.isotope-filters.isotope-tooltip .more-btn .more-menu button{border-bottom: 1px solid rgba(0,0,0,0.1);}
.isotope-filters.isotope-tooltip .more-btn .more-menu button:last-child{border-bottom: none;}
.iq-masonry.iq-columns-3{width: 100%;}
.iq-masonry-item  a{font-weight: 500;}
.iq-masonry-item  a:hover,.iq-masonry-item  h5:hover{color: #a378fc !important;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{color: #a378fc !important;}






/* isoTop*/
@media(max-width:1399px) {
	.isotope-filters.isotope-tooltip .more-btn, .isotope-filters.isotope-tooltip button { padding: 15px 5px; }
}
/* isoTop*/
@media(min-width:992px) {
	.isotope-filters-button { display: none; }
	.isotope-filters.isotope-tooltip { margin: 0 auto 70px; background: #ffffff; display: flex; justify-content: space-between; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
}
/* isoTop*/
@media (min-width:768px) {
	.isotope-filters.isotope-tooltip { margin: 0 auto 70px; background: #ffffff; justify-content: space-between; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

}
@media(max-width:992px) {
	header .btn-purchase{position: absolute;
    right: 100px;
    top: -50px;}
	.iq-masonry-item { width: 50%; }
	.container-fluid { padding: 15px 0; }
	button.isotope-filters-button > i { line-height: 30px; }
	.isotope-filters.isotope-tooltip { border: 1px solid rgba(0, 0, 0, 0.1); border-top: none; background: #ffffff; }
	button.isotope-filters-button { width: 100%; color: #fff; background-color: #a378fc; border: transparent; padding: 10px; font-weight: 700;  }
}
@media(max-width:767px) {
	.iq-masonry-item { width: 100%; }
}