/*

Template: sofbox
Author: iqonicthemes.in
Version: 1.0
Design and Developed by: iqonicthemes.in


*/

/*================================================
[  Table of contents  ]
================================================

Import Css
Font
General
Extra class
Text color
Background  color
Background overlay color
Buttons
Form
Section Title
loader
Back to Top


======================================
[ End table content ]
======================================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
/* @import url("all.min.css"); */
/* @import url("font-awesome.min.css"); */
/* @import url("owl.carousel.min.css"); */
/* @import url("ionicons.min.css"); */
/* @import url("wow.css"); */








@font-face {
    font-family: 'Now';
    src: url('../fonts/Now-Regular.woff2') format('woff2'),
        url('../fonts/Now-Regular.woff') format('woff'),
        url('../fonts/Now-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}






/*---------------------------------------------------------------------
General
-----------------------------------------------------------------------*/
*::-moz-selection { background: #437eeb; color: #ffffff; text-shadow: none; }
::-moz-selection { background: #437eeb; color: #ffffff; text-shadow: none; }
::selection { background: #437eeb; color: #ffffff; text-shadow: none; }
body { font-family: 'Poppins', sans-serif; font-weight: normal; font-style: normal; font-size: 15px; line-height: 2; color: #666666; overflow-x: hidden !important;color: #8e989f; }
a, .button { transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; color: #666666; }
a:focus { text-decoration: none !important; }
a:hover{text-decoration: none;}
a, .button, input { outline: medium none !important; color: #437eeb; }
h1, h2, h3, h4, h5, h6 { font-family: 'Now'; color: #1e1e1e; margin: 0; -ms-word-wrap: break-word; word-wrap: break-word; line-height: 1.5em; font-weight: normal;  }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
a h1, a h2, a h3, a h4, a h5, a h6 { color: #333333; transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out; }
a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {color: #437eeb; }
h1 { font-size: 3.052em; }
h2 { font-size: 40px; }
h3 { font-size: 1.953em; }
h4 { font-size: 1.563em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }




.container-fluid { padding: 0 162px; }
.container { max-width: 1170px; }

/*---------------------------------------------------------------------
Extra class
---------------------------------------------------------------------*/
.overflow-h { overflow: hidden; }
section { position: relative; background: #ffffff; padding: 100px 0; display: block; width: 100%; clear: both;  }
.overview-block-ptb { padding: 100px 0; }
.overview-block-pt { padding: 100px 0 0 0; }
.tab-block-pt { padding: 170px 0 0 0;}
.tab-block-ptb {padding: 170px 0 100px 0;}
.overview-block-pb { padding: 0 0 100px 0; }
ul { margin: 0px; padding: 0px; }
hr { margin: 0; padding: 0px; border-bottom: 1px solid #eeeeee; display: block; width: 100%; border-top: 0px; line-height: 1px; }

/*---------------------------------------------------------------------
Text color
-----------------------------------------------------------------------*/
.main-color { color: #437fec; }
.text-white { color: #ffffff; }
.text-black { color: #333333; }
.text-gray { color: #6f6f6f; }

/*---------------------------------------------------------------------
Background  color
-----------------------------------------------------------------------*/
.main-bg {background: #fdfdfd; }
.gray-bg { background: #f5f5f5; }
.light-gray-bg {background: #f4f4f4;}
.dark-bg { background: linear-gradient(135deg,rgba(109,115,239,1) 0%, rgba(163,120,252,1) 100%) !important;}



/*----------------------------------------------------------------------
 Buttons
-----------------------------------------------------------------------*/
.button { color: #ffffff; padding: 10px 30px; border: none; position: relative; display: inline-block; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background: #333333; border-radius: 4px; cursor: pointer;z-index: 4;  }
.button:hover{background: #437eeb; }
.button:focus{outline: 0;}
.white-btn.button:hover,.blue-btn.button:hover{background: #333333;color: #ffffff;}
.white-btn.button { color: #ffffff; background: linear-gradient(135deg,rgba(109,115,239,1) 0%, rgba(163,120,252,1) 100%) !important;}
.white-btn.button:focus { color: #ffffff; }
.blue-btn.button { color: #ffffff; background:#0077ff; display: inline-grid;}
.blue-btn.button a{color: #ffffff; text-decoration: none;}
.blue-btn.button:before{background: #333333;}
.blue-btn.button:focus { color: #333333; }
.button:hover { text-decoration: none; color: #ffffff; -webkit-transform: translate3d(0, 0px, 0); transform: translate3d(0, 0px, 0); }
.button:focus,.button.blue-btn:focus{ color: #ffffff; }
.button span { z-index: 2; position: relative; }

.white-btn { color: #ffffff; background: #020d1e; }
/*----------------------------------------------------------------------
 Form
----------------------------------------------------------------------*/
input, input.form-control, .form-control { width: 100%; border: 1px solid #6f6f6f; height: 52px; padding: 0 20px; margin-bottom: 0px; border-radius: 0; background: #fff; color: #ebebeb; }
input[type="checkbox"], input.form-control[type="checkbox"] { margin-top: 0.5rem; background: #fff; height: auto; border: 1px solid #33e2a0; border-radius: 0px; }

/*::-webkit-input-placeholder*/
{ /* Chrome/Opera/Safari */
color: #ebebeb; }
::-moz-placeholder { /* Firefox 19+ */
color: #ebebeb; }
:-ms-input-placeholder { /* IE 10+ */
color: #ebebeb; }
:-moz-placeholder {/*  Firefox 18- */
color: #ebebeb; }
textarea.form-control { height: 230px; padding: 15px 30px; }
input:hover, input.form-control:hover, input:focus, input.form-control:focus, textarea.form-control:hover, textarea.form-control:focus, select:hover, select:focus, select.form-control:focus, textarea:focus, textarea:hover { border: 1px solid #437eeb; box-shadow: none; outline: none; }

/*---------------------------------------------------------------------
Section Title
-----------------------------------------------------------------------*/
.title-box {margin-bottom: 75px;}


/*---------------------------------------------------------------------
loader
-----------------------------------------------------------------------*/
#loading { width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: #ffffff; z-index: 9999; }
#loading img { width: 100px; }

/*---------------------------------------------------------------------
Back to Top
-----------------------------------------------------------------------*/
#back-to-top { display: inline !important; }
#back-to-top .top { z-index: 999; position: fixed; margin: 0px; color: #ffffff; background: #1e1e1e; position: fixed; bottom: 25px; right: 25px; z-index: 999; font-size: 26px; width: 50px; height: 50px; text-align: center; line-height: 50px; -webkit-border-radius: 90px; -moz-border-radius: 90px; border-radius: 90px; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }
#back-to-top .top:hover { background: #a378fc; color: #ffffff; -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }

.title-box .subtitle { position: relative; margin-bottom:30px; font-size: 34px; }
.white-sub .title-box .title-design{color: #ffffff;}
.white-sub .title-box .title-design:before{background: #ffffff;}



