<!-- Latest Blog Post -->
<section id="testimonial" class="overview-block-ptb grey-bg iq-blog blog-section">
  <br><br>
  <div class="container">
     <div class="row">
        <div class="col-sm-12">
           <div class="heading-title">
              <h3 class="title iq-tw-7">{{Prefijo + 'Sistema' | translate}}</h3>
              <p>{{Prefijo + 'PresentamosImagenes' | translate}}</p>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-12">
           <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="true" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30" >
              <div class="item">
                 <app-card-style1>
                    <div cardMedia>
                       <img class="img-fluid center-block" src="assets/system-images/1.png" alt="#">
                    </div>
                    <div cardTitle>
                       <a href="javascript:void(0)">
                          <h5 class="iq-tw-7 iq-mb-10">{{Prefijo + 'LoginSistema' | translate}}</h5>
                       </a>
                    </div>
                 </app-card-style1>
              </div>
              <div class="item">
               <app-card-style1>
                  <div cardMedia>
                     <img class="img-fluid center-block" src="assets/system-images/2.png" alt="#">
                  </div>
                  <div cardTitle>
                     <a href="javascript:void(0)">
                        <h5 class="iq-tw-7 iq-mb-10">{{Prefijo + 'InicioSistema' | translate}}</h5>
                     </a>
                  </div>
               </app-card-style1>
              </div>
              <div class="item">
               <app-card-style1>
                  <div cardMedia>
                     <img class="img-fluid center-block" src="assets/system-images/3.png" alt="#">
                  </div>
                  <div cardTitle>
                     <a href="javascript:void(0)">
                        <h5 class="iq-tw-7 iq-mb-10">{{Prefijo + 'EstadísticaSistema' | translate}}</h5>
                     </a>
                  </div>
               </app-card-style1>
              </div>
              <div class="item">
               <app-card-style1>
                  <div cardMedia>
                     <img class="img-fluid center-block" src="assets/system-images/4.png" alt="#">
                  </div>
                  <div cardTitle>
                     <a href="javascript:void(0)">
                        <h5 class="iq-tw-7 iq-mb-10">{{Prefijo + 'ListaClientes' | translate}}</h5>
                     </a>
                  </div>
               </app-card-style1>
              </div>
              <div class="item">
               <app-card-style1>
                  <div cardMedia>
                     <img class="img-fluid center-block" src="assets/system-images/5.png" alt="#">
                  </div>
                  <div cardTitle>
                     <a href="javascript:void(0)">
                        <h5 class="iq-tw-7 iq-mb-10">{{Prefijo + 'Calendario' | translate}}</h5>
                     </a>
                  </div>
               </app-card-style1>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Latest Blog Post END -->
